/*  */
/*  */
/* FONTS */
/*  */
/*  */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("@assets/fonts/poppins-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("@assets/fonts/poppins-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Patua One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@assets/fonts/patua-one.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*  */
/*  */
/* Variables */
/*  */
/*  */

:root {
  --f0: calc(var(--f1) / 1.5);
  --f1: calc(1em + 0.1vw);
  --f2: calc(var(--f1) * 1.5);
  --f3: calc(var(--f2) * 2.25);
  --s0: calc(4px + 0.5vh);
  --s1: calc(var(--s0) * 2);
  --s2: calc(var(--s1) * 1.8);
  --s3: calc(var(--s2) * 1.8);
  --s4: calc(var(--s3) * 1.8);
  --s5: calc(var(--s4) * 1.8);
  --radius100: 6px;
  --radius300: 12px;
  --radius500: 24px;
  --radius700: 48px;
  --radius900: 999999px;
  --color700: #ab0d5e;
  --color500: #cf0054;
  --color300: #fc7a4b;
  --white: #fff;
  --gray1: #f4f4f4;
  --gray2: #bbb;
  --gray3: #353535;
  --gray4: #111;
  --black1: hsl(0 0% 6% / 1);
  --black2: hsl(0 0% 7% / 1);
  --black3: hsl(0 0% 8% / 1);
  --black4: hsl(0 0% 9% / 1);
  --black1-8: hsl(0 0% 6% / 0.8);
  --black2-8: hsl(0 0% 7% / 0.8);
  --black3-8: hsl(0 0% 8% / 0.8);
  --black4-8: hsl(0 0% 9% / 0.8);
  --lineheight-text: 1.6;
  --lineheight-headline: 1.3;
  --responsivepadding: calc(5vh + 5vw) calc(10vh + 10vw);
  --blogpadding: calc(5vh + 5vw) calc(5vh + 7.5vw);
  --grid12234: repeat(4, 1fr);
  --gridgap: var(--s2);
  --shadow3d: inset -2px -6px 12px rgba(0, 0, 0, 0.2);
}

/*  */
/*  */
/* MEDIA QUERIES BASICS */
/*  */
/*  */

@media only screen and (max-width: 1599.98px) {
  :root {
    --responsivepadding: calc(5vh + 5vw) calc(10vh + 5vw);
    --blogpadding: calc(5vh + 5vw) calc(5vh + 5vw);
  }
}

@media only screen and (max-width: 1399.98px) {
  :root {
    --grid12234: repeat(3, 1fr);
    --responsivepadding: calc(5vh + 5vw) calc(5vh + 2vw);
    --blogpadding: calc(5vh + 5vw) calc(5vh + 2vw);
  }
}

@media only screen and (max-width: 991.98px) {
  :root {
    --f1: calc(15px + 0.1vw);
    --s0: calc(5px + 0.5vh);
    --responsivepadding: calc(2.5vh + 2vw);
    --blogpadding: calc(2.5vh + 2vw) calc(1vh + 1vw);
    --grid12234: repeat(2, 1fr);
    --gridgap: var(--s1);
  }
}

@media only screen and (max-width: 767.98px) {
  :root {
    --grid12234: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575.98px) {
  :root {
    --f1: calc(14px + 0.1vw);
    --s0: calc(4px + 0.5vh);
    --responsivepadding: calc(1vh + 1vw);
    --grid12234: repeat(1, 1fr);
    --gridgap: var(--s0);
  }
}

/*  */
/*  */
/* BASICS */
/*  */
/*  */

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--f1);
  line-height: var(--lineheight-text);
  scroll-behavior: smooth;
  background: var(--black1);
  cursor: default;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: var(--color500);
}

a {
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  color: var(--color300);
}

h1 {
  margin-top: var(--s5);
}

h1,
h2 {
  font-weight: 400;
  text-align: center;
  z-index: 999;
}

h3,
div,
p,
span {
  margin: 0;
  font-weight: 400;
}

ol,
ul {
  margin: var(--s1) 0 var(--s2);
  padding: 0;
}

.f0 {
  font-size: calc(var(--f2) / 2);
}

.f1 {
  font-size: var(--f1);
}

.f2 {
  font-size: var(--f2);
  line-height: var(--lineheight-headline);
}

.f3 {
  font-family: "Patua One", serif;
  font-size: var(--f3);
  line-height: var(--lineheight-headline);
  margin-bottom: var(--s3);
}

.s0 {
  margin-bottom: var(--s0);
}

.s1 {
  margin-bottom: var(--s1);
}

.s2 {
  margin-bottom: var(--s2);
}

.s3 {
  margin-bottom: var(--s3);
}

.s4 {
  margin-bottom: var(--s4);
}

.s5 {
  margin-bottom: var(--s5);
}

.color300 {
  color: var(--color300);
}

.color500 {
  color: var(--color500);
}

.color700 {
  color: var(--color700);
}

.white {
  color: var(--white);
}

.black300 {
  color: var(--gray1);
}

.black500 {
  color: var(--gray2);
}

.black700 {
  color: var(--gray3);
}

.black900 {
  color: var(--black1);
}

.text-20 {
  max-width: 20%;
}

.text-40 {
  max-width: 40%;
}

.text-60 {
  max-width: 60%;
}

.text-80 {
  max-width: 80%;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.button-primary {
  padding: var(--s0) var(--s1);
  border-radius: var(--radius300);
  opacity: 0.5;
}

.button-primary a {
  color: var(--white);
}

.will-change {
  will-change: auto;
}

.overlay,
.overlay-before::before,
.overlay-after::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*  */
/*  */
/* MENU */
/*  */
/*  */

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
  color: white;
  display: flex;
  padding: 0 var(--s4);
  align-items: center;
  justify-content: space-between;
  height: var(--s4);
}

.logo {
  font-family: "Patua One", serif;
  color: var(--white);
}

.conversionscounter {
  margin-left: var(--s2);
}

.menu > a {
  margin-left: var(--s3);
  color: var(--white);
}

.menu > a a {
  color: var(--white);
}

/*  */
/*  */
/* CONVERTER */
/*  */
/*  */

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--black1);
  background-image: url(@assets/newbg.svg);
  background-size: 100%;
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: var(--s2);
  position: relative;
}

.app-container-blur {
  background: var(--black1);
  z-index: -1;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--s1);
  max-width: calc(var(--s5) * 4);
  border-radius: var(--radius500);
  box-shadow: var(--shadow3d);
  text-align: center;
  flex-direction: column;
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.1);
  animation: bounce-in 1s forwards 1;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.dropzone-container {
  height: 100%;
  width: 100%;
  display: flex;
  order: 0;
  background: var(--white);
  z-index: 99;
  border-radius: var(--radius500);
  padding: var(--s1);
  box-shadow: var(--shadow3d);
  transition: all 0.2s ease-out;
}

.dropzone-root {
  background-color: var(--white);
  border-radius: var(--radius500);
  padding: var(--s3) var(--s2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  transition: all 0.2s ease-out;
  color: var(--color500);
}

.cog-button {
  position: absolute;
  top: 0;
  width: 24px;
  right: 0;
  height: 24px;
  padding: var(--s3);
  display: block;
  z-index: 999;
  cursor: pointer;
  background-color: var(--gray2);
  mask-image: url("@assets/settings.svg");
  mask-size: 24px;
  mask-position: center center;
  mask-repeat: no-repeat;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.settings_cog {
  position: absolute;
  padding: var(--s2);
  border-radius: var(--radius500);
  top: 0;
  right: 0;
  bottom: 0;
  height: calc(var(--s5) * 2);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.upload-button {
  width: var(--s4);
  height: var(--s4);
  background: radial-gradient(circle at top right, var(--color500), transparent 80%),
    radial-gradient(circle at bottom right, var(--color300), transparent 80%),
    radial-gradient(circle at bottom left, var(--color500), transparent 80%),
    radial-gradient(circle at top left, var(--color300), transparent 80%), var(--black1);
  border-radius: var(--radius900);
  margin-bottom: var(--s2);
  box-shadow: var(--shadow3d);
  position: relative;
  overflow: hidden;
}

.upload-button::before {
  border-radius: var(--radius900);
  box-shadow: var(--shadow3d), inset -5px -5px 15px var(--color500);
  z-index: 1;
}

.upload-button::after {
  background-image: url("@assets/arrow.svg");
  background-size: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.dropzone-container:hover .dropzone-root,
.dropzone-container.active,
.dropzone-container:active {
  transform: scale(0.95);
}

.dropzone-container.active + .cog-button,
.dropzone-container:hover + .cog-button {
  opacity: 0;
}

#explainformats {
  transition: all 0.3s ease-out;
}

.dropzone-container.active #explainformats {
  transform: translateY(var(--s2));
  opacity: 0;
}

.dropzone-container.active .upload-button {
  transform: scale(1.15);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.dropzone-container.active .upload-button::after {
  animation: slide-up 2s infinite;
  animation-timing-function: ease-in;
}

.upload-blur {
  background: radial-gradient(circle at center left, var(--color300), transparent 50%),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%), var(--black1);
  z-index: 0;
  filter: blur(5px);
  animation: cta-background 5s infinite;
  animation-play-state: paused;
}

.dropzone-container:hover .upload-blur {
  animation-play-state: running;
}

.conversion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: var(--radius300);
  margin-top: var(--s1);
  align-self: normal;
  position: relative;
  background: var(--white);
  color: var(--gray3);
  z-index: 1;
  padding: var(--s0) var(--s1);
  cursor: inherit;
  animation: flip-in-hor-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.bar__container {
  position: absolute;
  border-radius: var(--radius900);
  margin: 0;
  z-index: 0;
  bottom: var(--s0);
  height: calc(var(--s0) / 2);
  background: var(--gray1);
  width: calc(100% - var(--s1));
  transition: all 0.5s ease-out;
  transform-origin: center right;
}

.bar__inner {
  background: linear-gradient(90deg, var(--color300), var(--color500), var(--color700));
  margin-bottom: var(--s1);
  z-index: 999;
  height: 100%;
  transition: all 0.3s ease-out;
  border-radius: var(--radius900) 0 0 var(--radius900);
}

.progress .bar-inner {
  border-radius: var(--radius300) 0 0 var(--radius300);
  background: var(--gray1);
}

.conversion.finished {
  animation-duration: 0.75s;
  animation-name: bounceIn;
  pointer-events: all;
}

.conversion.finished .bar__container {
  transform: translateY(10px);
  opacity: 0;
}

.conversion_information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--s1) 0;
}

.conversion_meta {
  z-index: 999;
  margin-right: var(--s3);
  color: var(--gray3);
  border-radius: var(--radius100);
}

.conversion__cancel {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: var(--s1);
  color: var(--gray2);
  text-align: center;
  opacity: 0;
}

.conversion:hover .conversion__cancel {
  opacity: 1;
}

.conversion.cancelled {
  opacity: 0.5 !important;
  padding: 0 var(--s1);
}

.remaining-time {
  z-index: 999;
  color: var(--gray2);
  visibility: hidden;
  animation: visibility 0s 10s forwards;
  opacity: 0;
}

.conversion:hover .remaining-time {
  opacity: 1;
}

.filename {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: default;
  font-size: var(--f1);
}

.download {
  width: var(--s3);
  transform: scale(0);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0 var(--radius300) var(--radius300) 0;
  background: radial-gradient(circle at bottom right, var(--color500) 30%, var(--color300) 100%);
  z-index: 9999;
  cursor: pointer;
}

.download::after {
  color: rgba(255, 255, 255, 0.5);
  background-image: url("@assets/download.svg");
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 var(--radius300) var(--radius300) 0;
  z-index: 99999;
  transition: all 0.2s ease-out;
}

.download:hover::after {
  transform: scale(0.8);
}

.finished .download {
  transform: scale(1);
}

.downloadall {
  background-color: var(--color500);
  outline: none;
  color: var(--white);
  border: none;
  padding: var(--s1) var(--s2);
  border-radius: var(--radius300);
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin-bottom: var(--s2);
}

.downloadall-container {
  opacity: 0;
  height: 0;
}

.downloadall-container.show {
  margin-top: var(--s3);
  height: auto;
  opacity: 1;
}

.donation {
  color: var(--white);
  margin: 0 var(--s3);
}

.finished .bar-container {
  display: none;
}

.finished .conversion_format {
  display: none;
}

.progress .conversion_outcome {
  display: none;
}

.chevron {
  background-image: url("@assets/chevron.svg");
  width: 24px;
  height: 24px;
  margin-top: var(--s2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.dropzone-and-settings {
  display: flex;
}

.cog-and-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
}

.cog-button.open {
  transform: rotate(180deg);
}

.settings_cog.open {
  transform: scale(1) translateX(calc(100% + var(--s2)));
  background-color: var(--white);
  opacity: 1;
}

.settings-box {
  opacity: 0;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  padding: var(--s2) 0;
  max-height: 512px;
}

.open .settings-box {
  opacity: 1;
}

.settings-box div {
  width: 100%;
  text-align: left;
}

.open .dropzone-container {
  box-shadow: none;
}

.align-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subsampling-options {
  display: flex;
  padding-top: 5px;
  text-align: left;
}

.subsampling-options label {
  margin-right: var(--s1);
}

.settings-box label {
  display: flex;
  align-items: center;
}

.checkbox-text {
  display: inline;
  padding-left: var(--s0);
  position: relative;
}

.checkbox > p {
  color: var(--gray3);
  padding: 0.5rem 0.25rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
  color: var(--gray2);
}

/*  */
/*  */
/* HELP */
/*  */
/*  */

.infobox {
  position: relative;
}

.infobox::before {
  content: "?";
  position: absolute;
  right: calc(var(--s1) * (-1) - 5px);
  border-radius: var(--radius100);
  width: var(--s1);
  height: var(--s1);
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--gray3) !important;
}

.infobox:hover::before {
  width: auto;
  text-align: left;
  height: auto;
  padding: var(--s0);
  border-radius: var(--radius100);
  max-width: var(--s5);
  font-size: var(--f0);
  background: var(--gray1);
  word-break: normal;
}

h2.infobox:hover::before {
  content: "using WASM & Rav1e";
}

#explainformats:hover::before {
  content: "png, jpg, jpeg, webp, gif, bmp, dib, ico, tiff, tif, pbm, pgm, ppm, pnm, dds, tga, icb, vda, vst, ff";
}

/*  */
/*  */
/* Tutorials */
/*  */
/*  */

.section__tutorials {
  padding: var(--responsivepadding);
  position: relative;
  background: var(--black1);
}

.section__tutorials > * {
  position: relative;
  z-index: 3;
}

.section__tutorials::before {
  display: block;
  background-image: url(@assets/bg.svg);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: 1;
}

.section__tutorials::after {
  display: block;
  background: var(--black1-8);
  z-index: 2;
  opacity: 1;
  backdrop-filter: blur(10px);
}

.tutorial__title {
  color: #fff;
  font-weight: bold;
  font-size: var(--f2);
  position: relative;
  z-index: 999;
}

.tutorials__container {
  display: grid;
  grid-template-columns: var(--grid12234);
  grid-gap: var(--gridgap);
}

.tutorials__box {
  width: 100%;
  border-radius: var(--radius500);
  position: relative;
  padding: calc(100% - var(--s1)) var(--s1) var(--s1) var(--s1);
  background: radial-gradient(at left center, var(--color500) 50%, var(--color700));
  cursor: pointer;
  box-shadow: var(--shadow3d);
  transition: all 0.2s ease-in-out;
}

.tutorials__box:hover {
  transform: scale(1.03) rotate(3deg);
}

.tutorials__box:nth-of-type(1) {
  filter: hue-rotate(0deg);
}

.tutorials__box:nth-of-type(2) {
  filter: hue-rotate(-6deg) saturate(0.98);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}

.tutorials__box:nth-of-type(3) {
  filter: hue-rotate(-12deg) saturate(0.96);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}

.tutorials__box:nth-of-type(4) {
  filter: hue-rotate(-18deg) saturate(0.94);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}

.tutorials__box:nth-of-type(5) {
  filter: hue-rotate(-6deg) saturate(0.98);
}

.tutorials__box:nth-of-type(6) {
  filter: hue-rotate(-12deg) saturate(0.96);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}

.tutorials__box:nth-of-type(7) {
  filter: hue-rotate(-18deg) saturate(0.94);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}

.tutorials__box:nth-of-type(8) {
  filter: hue-rotate(-24deg) saturate(0.92);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}

.tutorials__box:nth-of-type(9) {
  filter: hue-rotate(-12deg) saturate(0.96);
}

.tutorials__box:nth-of-type(10) {
  filter: hue-rotate(-18deg) saturate(0.94);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}

.tutorials__box:nth-of-type(11) {
  filter: hue-rotate(-24deg) saturate(0.92);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}

.tutorials__box:nth-of-type(12) {
  filter: hue-rotate(-30deg) saturate(0.9);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}

.tutorials__box:nth-of-type(13) {
  filter: hue-rotate(-18deg) saturate(0.94);
}

.tutorials__box:nth-of-type(14) {
  filter: hue-rotate(-24deg) saturate(0.92);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}

.tutorials__box:nth-of-type(15) {
  filter: hue-rotate(-30deg) saturate(0.9);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}

.tutorials__box:nth-of-type(16) {
  filter: hue-rotate(-36deg) saturate(0.88);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}

.tutorial__overflow {
  display: flex;
  align-items: center;
  padding-left: var(--s1);
  overflow: hidden;
  border-radius: var(--radius500);
}

.tutorial__overflow::before {
  content: "l";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  fill: floralwhite;
  opacity: 0.1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scale(1.5);
}

#css .tutorial__overflow::before {
  background-image: url("@assets/css.svg");
}

#html .tutorial__overflow::before {
  background-image: url("@assets/html.svg");
}

#js .tutorial__overflow::before {
  background-image: url("@assets/js.svg");
}

#windows .tutorial__overflow::before {
  background-image: url("@assets/windows.svg");
}

#react .tutorial__overflow::before {
  background-image: url("@assets/react.svg");
}

#angular .tutorial__overflow::before {
  background-image: url("@assets/angular.svg");
}

#vue .tutorial__overflow::before {
  background-image: url("@assets/vue.svg");
}

#firefox .tutorial__overflow::before {
  background-image: url("@assets/firefox.svg");
}

#gimp .tutorial__overflow::before {
  background-image: url("@assets/gimp.svg");
}

#svelte .tutorial__overflow::before {
  background-image: url("@assets/svelte.svg");
}

#netlify .tutorial__overflow::before {
  background-image: url("@assets/netlify.svg");
}

#wordpress .tutorial__overflow::before {
  background-image: url("@assets/wordpress.svg");
}

#nextjs .tutorial__overflow::before {
  background-image: url("@assets/nextjs.svg");
}

#cloudflare .tutorial__overflow::before {
  background-image: url("@assets/cloudflare.svg");
}

#edge .tutorial__overflow::before {
  background-image: url("@assets/edge.svg");
}

.tutorials__box:hover .tutorial_shadow {
  transform: scale(1);
}

.tutorial__shadow {
  background: var(--color500);
  z-index: -1;
  filter: blur(5px);
  border-radius: var(--radius500);
  transform: scale(0);
}

/*  */
/*  */
/* AVIFBADGE */
/*  */
/*  */

#avifbadge {
  padding: var(--responsivepadding);
  padding-bottom: 0;
  position: relative;
  background: var(--black1);
  z-index: 2;
}

.badge__avif {
  border-radius: var(--radius500);
  padding: var(--s5);
  position: relative;
  margin: var(--s4);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge__shadow {
  background: radial-gradient(circle at center left, var(--color300), transparent 50%),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%), var(--black1);
  z-index: -1;
  border-radius: var(--radius900);
  animation: glow 10s infinite alternate-reverse both;
  width: 60%;
  padding-bottom: 30%;
  padding-top: 30%;
  margin: 0 auto;
  transition-timing-function: ease-in-out;
  filter: blur(50px);
}

.badge__avif p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(var(--f3) * 2);
  font-weight: bold;
  z-index: 9;
}

/*  */
/*  */
/* AVIF ADVANTAGES */
/*  */
/*  */

#avifadvantages {
  background: var(--black1);
  padding: var(--responsivepadding);
}

.advantage__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--s2);
}

.advantage__grid__item {
  padding: calc(100% - var(--s2)) var(--s2) var(--s2) var(--s2);
  background-color: var(--black2);
  color: #ffffff0d;
  border-radius: var(--radius500);
  cursor: default;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 99;
  font-size: var(--f2);
}

.advantage__text {
  position: absolute;
  top: var(--s2);
  right: var(--s2);
  left: var(--s2);
}

.advantage__grid__item:hover {
  background: #242424;
  color: white;
  transform: scale(1.05);
}

.advantage__important {
  color: var(--color500);
  font-weight: bold;
}

.advantage__visualizer {
  border-radius: var(--radius500);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  opacity: 0.015;
  transition: all 0.25s ease-out;
  z-index: 0;
  transform-origin: center center;
}

#visualizer-1 {
  background-image: url("@assets/visualizer-1.svg");
}

#visualizer-2 {
  background-image: url("@assets/visualizer-2.svg");
}

#visualizer-3 {
  background-image: url("@assets/visualizer-3.svg");
}

#visualizer-4 {
  background-image: url("@assets/visualizer-4.svg");
}

#visualizer-5 {
  background-image: url("@assets/visualizer-5.svg");
}

#visualizer-6 {
  background-image: url("@assets/visualizer-6.svg");
}

#visualizer-7 {
  background-image: url("@assets/visualizer-7.svg");
}

#visualizer-8 {
  background-image: url("@assets/visualizer-8.svg");
}

#visualizer-9 {
  background-image: url("@assets/visualizer-9.svg");
}

#visualizer-10 {
  background-image: url("@assets/visualizer-10.svg");
}

#visualizer-11 {
  background-image: url("@assets/visualizer-11.svg");
}

#visualizer-12 {
  background-image: url("@assets/visualizer-12.svg");
}

.advantage__grid__item:hover .visualizer {
  filter: blur(10px);
  opacity: 0.05;
  transform: scale(1.1);
}

/*  */
/*  */
/* IMAGECOMPARE */
/*  */
/*  */

.avifcompare {
  background: var(--black1);
  position: relative;
  padding: var(--responsivepadding);
}

.avifcompare * {
  border-radius: var(--radius500);
}

.avifcompare::after {
  content: "Cant see this image? Your browser doesn't support avif yet. :(";
  display: flex;
  align-self: center;
  color: var(--white);
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.avifcompare #fileformats div {
  border-radius: var(--radius500);
}

#comparison__container {
  position: relative;
  z-index: 1;
}

#handle {
  background: var(--color500);
  padding: var(--s2) var(--s0);
  border-radius: var(--radius100);
}

#jpg {
  position: absolute;
  top: 0;
  background: var(--white);
  padding: var(--s0);
  margin: var(--s1);
  border-radius: var(--radius100);
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}

#avif {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--white);
  padding: var(--s0);
  margin: var(--s1);
  border-radius: var(--radius100);
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}

#fileformats p.active {
  opacity: 1;
}

.advantages-explainer {
  margin: var(--s3) auto;
  text-align: center;
  color: var(--white);
  max-width: 768px;
  line-height: 2;
}

/*  */
/*  */
/* CTA */
/*  */
/*  */

.cta__container {
  padding: var(--responsivepadding);
  background: var(--black1);
  position: relative;
}

.cta {
  background: radial-gradient(circle at center left, var(--color300), transparent 50%),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%), var(--black1);
  padding: var(--s4);
  border-radius: var(--radius500);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.cta__blur {
  background: radial-gradient(circle at center left, var(--color300), transparent 50%),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%), var(--black1);
  z-index: 0;
  filter: blur(50px);
  transition: all 10s ease-in-out;
  animation: cta-background 10s infinite alternate-reverse both;
}

.cta::before {
  background: url("@assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  z-index: 1;
}

.cta__title {
  font-size: var(--f2);
  color: var(--white);
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.cta__subtitle {
  opacity: 0.5;
  color: var(--white);
  position: relative;
  z-index: 1;
}

.cta a {
  color: var(--white);
}

/*  */
/*  */
/* Can I use? */
/*  */
/*  */

#more {
  background: var(--gray1);
  padding: var(--responsivepadding);
}

.more__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.more__item {
  padding: var(--s1);
  font-weight: bold;
  color: var(--white);
  background: var(--black2);
}

.more__item:hover {
  background: var(--black2);
}

.more__item .f2 {
  font-weight: bold;
}

.more__badges {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  padding: var(--s0);
  background: var(--white);
  color: var(--black1);
  display: inline-flex;
  margin: 0 var(--s0) var(--s0) 0;
  border-radius: var(--radius100);
}

/*  */
/*  */
/* Posts */
/*  */
/*  */

.posts__container {
  padding: var(--responsivepadding);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--s1);
}

.posts__item {
  background: var(--black3-8);
  border-radius: var(--radius300);
  box-shadow: var(--shadow3d);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.posts__item * {
  transition: all 0.3s ease-out;
}

.posts__img {
  background: linear-gradient(var(--color300), var(--color500));
  height: calc(var(--s5) * 1.5);
  border-radius: var(--radius300) var(--radius300) 0 0;
  display: flex;
  align-items: center;
  padding: var(--s1);
  font-size: var(--f2);
  font-weight: bold;
  color: white;
  background-size: 100%;
  background-position: center center;
}

.posts__img:nth-of-type(2) {
  filter: hue-rotate(-6deg) saturate(0.98);
}

.posts__img:nth-of-type(3) {
  filter: hue-rotate(-6deg) saturate(0.98);
}

.posts__img:nth-of-type(4) {
  filter: hue-rotate(-6deg) saturate(0.98);
}

.posts__img:nth-of-type(5) {
  filter: hue-rotate(-6deg) saturate(0.98);
}

.posts__img:nth-of-type(6) {
  filter: hue-rotate(-6deg) saturate(0.98);
}

.posts__item:hover {
  background: var(--black4);
}

.posts__item:hover .posts__img {
  background-size: 150%;
  background-position: center right;
}

.posts__data {
  padding: var(--s1);
}

.posts__date {
  color: var(--white);
  font-size: var(--f0);
  margin-bottom: var(--s0);
  opacity: 0.5;
}

.posts__summary {
  color: var(--white);
}

/*  */
/*  */
/* Footer */
/*  */
/*  */

.footer {
  background: var(--black4);
  padding: var(--responsivepadding);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: flex-end;
}

.footer * {
  color: var(--white);
}

.footer a {
  display: block;
  margin-bottom: var(--s0);
}

#footer-about,
#footer-learn,
#footer-more {
  justify-self: flex-end;
}

/*  */
/*  */
/* BLOGS */
/*  */
/*  */

.blog {
  position: relative;
}

.blog__header:after {
  height: 100vh;
}

.background1 .blog__header:after {
  background-image: radial-gradient(
      circle at 52% 94%,
      rgba(169, 169, 169, 0.04) 0%,
      rgba(169, 169, 169, 0.04) 50%,
      rgba(199, 199, 199, 0.04) 50%,
      rgba(199, 199, 199, 0.04) 100%
    ),
    radial-gradient(
      circle at 96% 98%,
      rgba(61, 61, 61, 0.04) 0%,
      rgba(61, 61, 61, 0.04) 50%,
      rgba(201, 201, 201, 0.04) 50%,
      rgba(201, 201, 201, 0.04) 100%
    ),
    radial-gradient(
      circle at 93% 97%,
      rgba(227, 227, 227, 0.04) 0%,
      rgba(227, 227, 227, 0.04) 50%,
      rgba(145, 145, 145, 0.04) 50%,
      rgba(145, 145, 145, 0.04) 100%
    ),
    radial-gradient(
      circle at 79% 52%,
      rgba(245, 245, 245, 0.04) 0%,
      rgba(245, 245, 245, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(210, 9, 198), rgb(25, 38, 118));
}
.background2 .blog__header:after {
  background-image: radial-gradient(
      circle at 21% 44%,
      rgba(23, 23, 23, 0.05) 0%,
      rgba(23, 23, 23, 0.05) 50%,
      rgba(109, 109, 109, 0.05) 50%,
      rgba(109, 109, 109, 0.05) 100%
    ),
    radial-gradient(
      circle at 21% 96%,
      rgba(92, 92, 92, 0.05) 0%,
      rgba(92, 92, 92, 0.05) 50%,
      rgba(199, 199, 199, 0.05) 50%,
      rgba(199, 199, 199, 0.05) 100%
    ),
    radial-gradient(
      circle at 25% 37%,
      rgba(230, 230, 230, 0.05) 0%,
      rgba(230, 230, 230, 0.05) 50%,
      rgba(25, 25, 25, 0.05) 50%,
      rgba(25, 25, 25, 0.05) 100%
    ),
    linear-gradient(90deg, rgb(156, 48, 160), rgb(75, 105, 255));
}
.background3 .blog__header:after {
  background-image: radial-gradient(
      circle at 99% 0%,
      rgba(235, 235, 235, 0.03) 0%,
      rgba(235, 235, 235, 0.03) 50%,
      rgba(142, 142, 142, 0.03) 50%,
      rgba(142, 142, 142, 0.03) 100%
    ),
    radial-gradient(
      circle at 84% 89%,
      rgba(229, 229, 229, 0.03) 0%,
      rgba(229, 229, 229, 0.03) 50%,
      rgba(1, 1, 1, 0.03) 50%,
      rgba(1, 1, 1, 0.03) 100%
    ),
    radial-gradient(
      circle at 89% 20%,
      rgba(219, 219, 219, 0.03) 0%,
      rgba(219, 219, 219, 0.03) 50%,
      rgba(38, 38, 38, 0.03) 50%,
      rgba(38, 38, 38, 0.03) 100%
    ),
    radial-gradient(
      circle at 90% 0%,
      rgba(48, 48, 48, 0.03) 0%,
      rgba(48, 48, 48, 0.03) 50%,
      rgba(109, 109, 109, 0.03) 50%,
      rgba(109, 109, 109, 0.03) 100%
    ),
    linear-gradient(45deg, rgb(26, 53, 180), rgb(164, 129, 216));
}
.background4 .blog__header:after {
  background-image: radial-gradient(
      circle at 28% 93%,
      rgba(2, 2, 2, 0.04) 0%,
      rgba(2, 2, 2, 0.04) 50%,
      rgba(223, 223, 223, 0.04) 50%,
      rgba(223, 223, 223, 0.04) 100%
    ),
    radial-gradient(
      circle at 13% 75%,
      rgba(185, 185, 185, 0.04) 0%,
      rgba(185, 185, 185, 0.04) 50%,
      rgba(25, 25, 25, 0.04) 50%,
      rgba(25, 25, 25, 0.04) 100%
    ),
    radial-gradient(
      circle at 79% 39%,
      rgba(34, 34, 34, 0.04) 0%,
      rgba(34, 34, 34, 0.04) 50%,
      rgba(57, 57, 57, 0.04) 50%,
      rgba(57, 57, 57, 0.04) 100%
    ),
    linear-gradient(56deg, rgb(39, 37, 178), rgb(169, 88, 194));
}
.background5 .blog__header:after {
  background-image: radial-gradient(
      circle at 79% 8%,
      rgba(218, 218, 218, 0.04) 0%,
      rgba(218, 218, 218, 0.04) 50%,
      rgba(129, 129, 129, 0.04) 50%,
      rgba(129, 129, 129, 0.04) 100%
    ),
    radial-gradient(
      circle at 0% 68%,
      rgba(47, 47, 47, 0.04) 0%,
      rgba(47, 47, 47, 0.04) 50%,
      rgba(30, 30, 30, 0.04) 50%,
      rgba(30, 30, 30, 0.04) 100%
    ),
    radial-gradient(
      circle at 96% 42%,
      rgba(88, 88, 88, 0.04) 0%,
      rgba(88, 88, 88, 0.04) 50%,
      rgba(225, 225, 225, 0.04) 50%,
      rgba(225, 225, 225, 0.04) 100%
    ),
    linear-gradient(172deg, rgb(230, 6, 245), rgb(98, 24, 90));
}
.background6 .blog__header:after {
  background-image: radial-gradient(
      circle at 50% 30%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 50%,
      rgba(138, 138, 138, 0.04) 50%,
      rgba(138, 138, 138, 0.04) 100%
    ),
    radial-gradient(
      circle at 9% 40%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 50%,
      rgba(71, 71, 71, 0.04) 50%,
      rgba(71, 71, 71, 0.04) 100%
    ),
    radial-gradient(
      circle at 84% 81%,
      rgba(147, 147, 147, 0.04) 0%,
      rgba(147, 147, 147, 0.04) 50%,
      rgba(253, 253, 253, 0.04) 50%,
      rgba(253, 253, 253, 0.04) 100%
    ),
    linear-gradient(266deg, rgb(5, 73, 170), rgb(140, 100, 243));
}
.background7 .blog__header:after {
  background-image: radial-gradient(
      circle at 49% 80%,
      rgba(105, 105, 105, 0.06) 0%,
      rgba(105, 105, 105, 0.06) 25%,
      rgba(119, 119, 119, 0.06) 25%,
      rgba(119, 119, 119, 0.06) 50%,
      rgba(134, 134, 134, 0.06) 50%,
      rgba(134, 134, 134, 0.06) 75%,
      rgba(148, 148, 148, 0.06) 75%,
      rgba(148, 148, 148, 0.06) 100%
    ),
    radial-gradient(
      circle at 58% 97%,
      rgba(130, 130, 130, 0.06) 0%,
      rgba(130, 130, 130, 0.06) 25%,
      rgba(97, 97, 97, 0.06) 25%,
      rgba(97, 97, 97, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 75%,
      rgba(30, 30, 30, 0.06) 75%,
      rgba(30, 30, 30, 0.06) 100%
    ),
    radial-gradient(
      circle at 77% 62%,
      rgba(106, 106, 106, 0.06) 0%,
      rgba(106, 106, 106, 0.06) 25%,
      rgba(71, 71, 71, 0.06) 25%,
      rgba(71, 71, 71, 0.06) 50%,
      rgba(37, 37, 37, 0.06) 50%,
      rgba(37, 37, 37, 0.06) 75%,
      rgba(2, 2, 2, 0.06) 75%,
      rgba(2, 2, 2, 0.06) 100%
    ),
    radial-gradient(
      circle at 53% 15%,
      rgba(182, 182, 182, 0.06) 0%,
      rgba(182, 182, 182, 0.06) 25%,
      rgba(149, 149, 149, 0.06) 25%,
      rgba(149, 149, 149, 0.06) 50%,
      rgba(115, 115, 115, 0.06) 50%,
      rgba(115, 115, 115, 0.06) 75%,
      rgba(82, 82, 82, 0.06) 75%,
      rgba(82, 82, 82, 0.06) 100%
    ),
    radial-gradient(
      circle at 65% 73%,
      rgba(230, 230, 230, 0.06) 0%,
      rgba(230, 230, 230, 0.06) 25%,
      rgba(222, 222, 222, 0.06) 25%,
      rgba(222, 222, 222, 0.06) 50%,
      rgba(214, 214, 214, 0.06) 50%,
      rgba(214, 214, 214, 0.06) 75%,
      rgba(206, 206, 206, 0.06) 75%,
      rgba(206, 206, 206, 0.06) 100%
    ),
    linear-gradient(135deg, rgb(131, 27, 242), rgb(248, 30, 172));
}
.background8 .blog__header:after {
  background-image: radial-gradient(
      circle at 45% 92%,
      rgba(154, 154, 154, 0.08) 0%,
      rgba(154, 154, 154, 0.08) 33.333%,
      rgba(119, 119, 119, 0.08) 33.333%,
      rgba(119, 119, 119, 0.08) 66.666%,
      rgba(83, 83, 83, 0.08) 66.666%,
      rgba(83, 83, 83, 0.08) 99.999%
    ),
    radial-gradient(
      circle at 25% 59%,
      rgba(82, 82, 82, 0.08) 0%,
      rgba(82, 82, 82, 0.08) 33.333%,
      rgba(93, 93, 93, 0.08) 33.333%,
      rgba(93, 93, 93, 0.08) 66.666%,
      rgba(104, 104, 104, 0.08) 66.666%,
      rgba(104, 104, 104, 0.08) 99.999%
    ),
    radial-gradient(
      circle at 7% 33%,
      rgba(56, 56, 56, 0.08) 0%,
      rgba(56, 56, 56, 0.08) 33.333%,
      rgba(134, 134, 134, 0.08) 33.333%,
      rgba(134, 134, 134, 0.08) 66.666%,
      rgba(212, 212, 212, 0.08) 66.666%,
      rgba(212, 212, 212, 0.08) 99.999%
    ),
    linear-gradient(90deg, rgb(3, 199, 193), rgb(92, 3, 177));
}
.background9 .blog__header:after {
  background-image: radial-gradient(
      circle at 39% 47%,
      rgba(107, 107, 107, 0.08) 0%,
      rgba(107, 107, 107, 0.08) 33.333%,
      rgba(72, 72, 72, 0.08) 33.333%,
      rgba(72, 72, 72, 0.08) 66.666%,
      rgba(36, 36, 36, 0.08) 66.666%,
      rgba(36, 36, 36, 0.08) 99.999%
    ),
    radial-gradient(
      circle at 53% 74%,
      rgba(182, 182, 182, 0.08) 0%,
      rgba(182, 182, 182, 0.08) 33.333%,
      rgba(202, 202, 202, 0.08) 33.333%,
      rgba(202, 202, 202, 0.08) 66.666%,
      rgba(221, 221, 221, 0.08) 66.666%,
      rgba(221, 221, 221, 0.08) 99.999%
    ),
    radial-gradient(
      circle at 14% 98%,
      rgba(184, 184, 184, 0.08) 0%,
      rgba(184, 184, 184, 0.08) 33.333%,
      rgba(96, 96, 96, 0.08) 33.333%,
      rgba(96, 96, 96, 0.08) 66.666%,
      rgba(7, 7, 7, 0.08) 66.666%,
      rgba(7, 7, 7, 0.08) 99.999%
    ),
    linear-gradient(45deg, rgb(97, 14, 117), rgb(20, 32, 127));
}
.background10 .blog__header:after {
  background-image: radial-gradient(
      circle at 20% 12%,
      rgba(7, 7, 7, 0.24) 0%,
      rgba(7, 7, 7, 0.24) 33.333%,
      rgba(30, 30, 30, 0.24) 33.333%,
      rgba(30, 30, 30, 0.24) 66.666%,
      rgba(53, 53, 53, 0.24) 66.666%,
      rgba(53, 53, 53, 0.24) 99.999%
    ),
    radial-gradient(
      circle at 66% 14%,
      rgba(45, 45, 45, 0.2) 0%,
      rgba(45, 45, 45, 0.2) 33.333%,
      rgba(72, 72, 72, 0.2) 33.333%,
      rgba(72, 72, 72, 0.2) 66.666%,
      rgba(99, 99, 99, 0.2) 66.666%,
      rgba(99, 99, 99, 0.2) 99.999%
    ),
    radial-gradient(
      circle at 3% 81%,
      rgba(83, 83, 83, 0.16) 0%,
      rgba(83, 83, 83, 0.16) 33.333%,
      rgba(142, 142, 142, 0.16) 33.333%,
      rgba(142, 142, 142, 0.16) 66.666%,
      rgba(201, 201, 201, 0.16) 66.666%,
      rgba(201, 201, 201, 0.16) 99.999%
    ),
    linear-gradient(45deg, rgb(139, 163, 255), rgb(132, 39, 232));
}

.blog * {
  position: relative;
  z-index: 3;
}

.blog__syntax__copy {
  opacity: 0;
  position: absolute;
  top: var(--s0);
  right: var(--s0);
  border: none;
  border-radius: var(--radius100);
  outline: none;
  padding: var(--s0) var(--s1);
  color: #fff;
  background: var(--color300);
  overflow: hidden;
  z-index: 99;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.blog__syntax:hover .blog__syntax__copy {
  opacity: 1;
}

.blog__syntax__copy:focus {
  transform: scale(0.9);
  background: var(--color700);
}

.blog__syntax__copy:active {
  transform: scale(0.8);
}

.blog h1 {
  margin: 0 var(--s2) 0;
  padding: calc(var(--s4) * 2) var(--s4) var(--s1) var(--s4);
  font-size: calc(var(--f3) * 1.5);
}

.content__container {
  margin: var(--s5) 0 0 0;
  background: var(--black2);
  padding: var(--s5);
}

.content {
  max-width: 768px;
  margin: 0 auto;
  line-height: 2;
  color: var(--white);
}

.content__subtitle {
  margin: var(--s4) 0 var(--s1);
  font-weight: bold;
  font-size: var(--f2);
}

.content .note {
  font-size: var(--f0);
  margin: var(--s1) 0;
  color: var(--gray2);
}

.content .source {
  background: var(--black3);
  padding: var(--s0);
  border-radius: var(--radius300);
  margin-bottom: var(--s0);
  font-size: var(--f0);
}

.content .tutorial__number {
  font-size: var(--f3);
  font-weight: bold;
  background: var(--color300);
  color: var(--white);
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius300);
  margin: var(--s2) 0 var(--s1);
}

#checkboxes ul {
  list-style: none;
}

#checkboxes label {
  display: block;
  margin: var(--s3) 0 var(--s1);
  font-weight: bold;
}

#checkboxes li {
  align-items: center;
  display: flex;
}

#checkboxes li input[type="checkbox"] {
  margin-right: var(--s0);
}

.blog .button-primary {
  background: var(--white);
  opacity: 1;
  color: var(--black1);
}

.tag,
.question {
  background: var(--black3);
  padding: var(--s0);
  border-radius: var(--radius300);
  margin-bottom: var(--s0);
  font-size: var(--f0);
  display: inline-block;
}

picture {
  width: 100%;
  height: 100%;
  display: flex;
  margin: var(--s2) 0;
}

picture img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

/*  */
/*  */
/* KEYFRAMES */
/*  */
/*  */

@keyframes visibility {
  to {
    visibility: visible;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
    filter: blur(5px);
  }

  30% {
    transform: translateY(-10px);
    opacity: 1;
    filter: blur(0);
  }

  40% {
    transform: translateY(-8px);
    opacity: 0;
    filter: blur(0);
  }

  100% {
    transform: translateY(20px);
    opacity: 0;
    filter: blur(0);
  }
}

@keyframes cta-background {
  from {
    background-position: 100% 50%;
    transform: rotate(0deg) scale(1.2);
  }

  to {
    background-position: 25% 50%;
    transform: rotate(360deg) scale(1.4);
  }
}

@keyframes glow {
  0% {
    transform: scale(1.55);
  }

  100% {
    transform: scale(1.6) rotate(360deg);
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(1, 1);
  }

  10% {
    transform: scale(1.04, 0.92);
  }

  30% {
    transform: scale(0.92, 1.04);
  }

  50% {
    transform: scale(1.02, 0.96);
  }

  57% {
    transform: scale(1, 1);
  }

  64% {
    transform: scale(1.01, 0.99);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.97, 0.97, 0.97);
  }

  20% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  40% {
    transform: scale3d(0.98, 0.98, 0.98);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.01, 1.01, 1.01);
  }

  80% {
    transform: scale3d(0.99, 0.99, 0.99);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes settingsbox {
  0% {
    background: rgb(255 255 255 / 0);
  }

  95% {
    background: rgb(255 255 255 / 0);
    backdrop-filter: blur(0);
  }

  100% {
    background: rgb(255 255 255 / 0.4);
    backdrop-filter: blur(100px);
  }
}

/*  */
/*  */
/* Code */
/*  */
/*  */

pre {
  border-radius: var(--radius300);
  background: var(--black3) !important;
}

.react-syntax-highlighter-line-number {
  font-size: var(--f0);
  opacity: 0.5;
}

/*  */
/*  */
/* MEDIA QUERIES */
/*  */
/*  */

@media only screen and (max-width: 1399.98px) {
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 60%;
  }

  .tutorials__box {
    margin: 0 !important;
  }

  .content__container {
    padding: var(--s3);
    border-radius: var(--radius300);
  }

  .blog h1 {
    margin: 0;
  }
}

@media only screen and (max-width: 991.98px) {
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 80%;
  }

  .advantage__grid {
    grid-template-columns: 1fr 1fr;
    padding: var(--s2);
    grid-gap: var(--s1);
  }

  .content__container {
    padding: var(--s1);
    border-radius: var(--radius300);
  }

  .blog h1 {
    padding: var(--s4) var(--s1) var(--s1) var(--s1);
    margin: 0;
    font-size: var(--f3);
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #footer-info {
    grid-column: 1/4;
    margin-bottom: var(--s3);
  }

  .footer > div {
    margin-bottom: var(--s3);
    align-self: flex-start;
  }

  #footer-about,
  #footer-learn,
  #footer-more {
    align-self: flex-start;
    justify-self: flex-start;
  }

  .advantage__grid__item {
    font-size: var(--f1);
    min-height: auto;
  }

  .header {
    padding: 0 var(--s2);
  }
}

@media only screen and (max-width: 767.98px) {
  .cog-button,
  .settings_cog {
    display: none;
  }

  .app-container {
    background-size: cover;
  }

  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 100%;
  }

  .advantage__grid {
    grid-template-columns: 1fr;
    padding: var(--s1);
    grid-gap: var(--s0);
  }

  .advantage__grid__item {
    min-height: 0;
    margin: var(--s0);
  }

  .cta {
    padding: var(--s3);
  }

  .header {
    padding: 0 var(--s2);
  }

  .conversionscounter {
    display: none;
  }

  .badge__avif {
    padding: var(--s2);
    margin: var(--s4) 0 0 0;
  }
}

@media only screen and (max-width: 575.98px) {
  .advantage__grid {
    padding: var(--s1);
    grid-gap: var(--s0);
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }

  #footer-info {
    grid-column: 1/3;
  }

  .header {
    padding: 0 var(--s0);
  }

  .menu > a {
    margin-left: var(--s2);
  }
}

/*  */
/*  */
/* SPECIAL QUERIES */
/*  */
/*  */

@supports (-moz-appearance: meterbar) {
  .section__tutorials::before {
    filter: blur(10px);
    transform: scaleY(-1.01) scaleX(-1.01);
    z-index: 0;
  }
}

/*  */
/*  */
/* INPUTS */
/*  */
/*  */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: var(--color500);
    --active-inner: #fff;
    --border: var(--gray2);
    --border-hover: var(--color500);
    --background: #fff;
    --disabled: var(--gray2);
    --disabled-inner: var(--gray3);

    appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  input[type="checkbox"]::after,
  input[type="radio"]::after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: opacity var(--d-o, 0.2s), transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }

  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    --b: var(--disabled);

    cursor: not-allowed;
    opacity: 0.9;
  }

  input[type="checkbox"]:disabled:checked,
  input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  input[type="checkbox"]:disabled + label,
  input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }

  input[type="checkbox"]:hover:not(:checked):not(:disabled),
  input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  input[type="checkbox"]:not(.switch),
  input[type="radio"]:not(.switch) {
    width: 21px;
  }

  input[type="checkbox"]:not(.switch)::after,
  input[type="radio"]:not(.switch)::after {
    opacity: var(--o, 0);
  }

  input[type="checkbox"]:not(.switch):checked,
  input[type="radio"]:not(.switch):checked {
    --o: 1;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }

  input[type="checkbox"]:not(.switch)::after {
    width: 5px;
    height: 10px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }

  input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }

  input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }

  input[type="checkbox"].switch::after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }

  input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }

  input[type="checkbox"].switch:disabled:not(:checked)::after {
    opacity: 0.6;
  }

  input[type="radio"] {
    border-radius: 50%;
  }

  input[type="radio"]::after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }

  input[type="radio"]:checked {
    --s: 0.5;
  }
}

::-moz-range-track {
  background: var(--gray2);
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: var(--s0);
  border-radius: var(--radius300);
  background: var(--gray1);
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color300);
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--color500);
}

input[type="range"]:active::-webkit-slider-thumb {
  background: var(--color500);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: var(--gray3);
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

input[type="range"]::-moz-range-thumb:hover {
  background: var(--color500);
}

input[type="range"]:active::-moz-range-thumb {
  background: var(--color500);
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--color700);
}
