/**/
/**/
/* VARIABLES */
/**/
/**/

:root {
  --f0: calc(var(--f1) / 2);
  --f1: calc(16px + 0.1vw);
  --f2: calc(var(--f1) * 2);
  --f3: calc(var(--f2) * 2);

  --s0: calc(4px + 0.5vh);
  --s1: calc(var(--s0) * 2);
  --s2: calc(var(--s1) * 2);
  --s3: calc(var(--s2) * 2);
  --s4: calc(var(--s3) * 1.5);
  --s5: calc(var(--s4) * 1.5);

  --lineheight-text: 1.6;
  --lineheight-headline: 1.3;

  --radius100: 6px;
  --radius300: 12px;
  --radius500: 24px;
  --radius700: 48px;
  --radius900: 999999px;

  --color700: #ab0d5e;
  --color500: #cf0054;
  --color300: #fc7a4b;

  --white: #fff;
  --gray1: #f4f4f4;
  --gray2: #bbbbbb;
  --gray3: #353535;
  --gray4: #111;

  --black1: hsl(0 0% 6% / 1);
  --black2: hsl(0 0% 7% / 1);
  --black3: hsl(0 0% 8% / 1);
  --black4: hsl(0 0% 9% / 1);

  --black1-8: hsl(0 0% 6% / 0.8);
  --black2-8: hsl(0 0% 7% / 0.8);
  --black3-8: hsl(0 0% 8% / 0.8);
  --black4-8: hsl(0 0% 9% / 0.8);

  --responsivepadding: calc(15vh + 5vw) calc(10vh + 12.5vw) calc(15vh + 5vw) calc(10vh + 12.5vw);
  --grid12234: repeat(4, 1fr);
  --gridgap: var(--s2);

  --shadow3d: inset -2px -12px 12px rgba(0, 0, 0, 0.1);
}

/**/
/**/
/* MEDIA QUERIES BASICS */
/**/
/**/

@media only screen and (max-width: 1599.98px) {
  :root {
    --responsivepadding: calc(15vh + 5vw) calc(10vh + 5vw) calc(15vh + 5vw) calc(10vh + 5vw);
  }
}

@media only screen and (max-width: 1399.98px) {
  :root {
    --grid12234: repeat(3, 1fr);
    --responsivepadding: calc(10vh + 10vw) calc(5vh + 2.5vw);
  }
}

@media only screen and (max-width: 991.98px) {
  :root {
    --f1: calc(15px + 0.1vw);
    --s0: calc(5px + 0.5vh);
    --responsivepadding: calc(2.5vh + 2.5vw);
    --grid12234: repeat(2, 1fr);
    --gridgap: var(--s1);
  }
}

@media only screen and (max-width: 767.98px) {
  :root {
    --grid12234: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575.98px) {
  :root {
    --f1: calc(14px + 0.1vw);
    --s0: calc(4px + 0.5vh);
    --responsivepadding: calc(1vh + 1vw);
    --grid12234: repeat(1, 1fr);
    --gridgap: var(--s0);
  }
}

/**/
/**/
/* FONTS */
/**/
/**/

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("@assets/fonts/poppins-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("@assets/fonts/poppins-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Patua One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@assets/fonts/patua-one.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/**/
/**/
/* BASICS */
/**/
/**/

* {
  box-sizing: border-box;
}

::selection {
  background: var(--color500);
}

body {
  font-family: "Poppins";
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--f1);
  line-height: var(--lineheight-text);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  color: var(--color300);
}

h1 {
  margin-top: var(--s5);
}

h1,
h2 {
  font-weight: 400;
  text-align: center;
  z-index: 999;
}

h3,
div,
p,
span {
  margin: 0;
  font-weight: 400;
}

.f0 {
  font-size: calc(var(--f2) / 2);
}

.f1 {
  font-size: var(--f1);
  line-height: var(--lineheight-text);
}

.f2 {
  font-size: var(--f2);
  line-height: var(--lineheight-headline);
}

.f3 {
  font-family: "Patua One";
  font-size: var(--f3);
  line-height: var(--lineheight-headline);
  margin-bottom: var(--s4);
}

.s0 {
  margin-bottom: var(--s0);
}

.s1 {
  margin-bottom: var(--s1);
}

.s2 {
  margin-bottom: var(--s2);
}

.s3 {
  margin-bottom: var(--s3);
}

.s4 {
  margin-bottom: var(--s4);
}

.s5 {
  margin-bottom: var(--s5);
}

.color300 {
  color: var(--color300);
}
.color500 {
  color: var(--color500);
}
.color700 {
  color: var(--color700);
}

.white {
  color: var(--white);
}
.black300 {
  color: var(--gray1);
}
.black500 {
  color: var(--gray2);
}
.black700 {
  color: var(--gray3);
}
.black900 {
  color: var(--black1);
}

.text-20 {
  max-width: 20%;
}

.text-40 {
  max-width: 40%;
}

.text-60 {
  max-width: 60%;
}

.text-80 {
  max-width: 80%;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.button-primary {
  padding: var(--s0) var(--s1);
  border-radius: var(--radius300);
  opacity: 0.5;
}

.button-primary a {
  color: var(--white);
}

.will-change {
  will-change: auto;
}

/**/
/**/
/* MENU */
/**/
/**/

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
  color: white;
  display: flex;
  padding: 0 var(--s4);
  align-items: center;
  justify-content: space-between;
  height: var(--s4);
}

.logo {
  font-family: "Patua One";
}

.logo a {
  color: var(--white);
}

.conversionscounter {
  margin-left: var(--s2);
}

.menu > a {
  margin-left: var(--s3);
  color: var(--white);
}

.menu > a a {
  color: var(--white);
}

/**/
/**/
/* CONVERTER */
/**/
/**/

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--black1);
  background-image: url(@assets/newbg.svg);
  background-size: 100%;
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: var(--s2);
  position: relative;
}

.app-container:after {
  content: "";
  position: absolute;
  top: 0;
  height: 50vh;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, white, transparent);
  opacity: 0.01;
}

.app-container-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--black1);
  z-index: -1;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--s1);
  max-width: calc(var(--s5) * 6);
  border-radius: var(--radius500);
  box-shadow: var(--shadow3d);
  text-align: center;
  flex-direction: column;
  backdrop-filter: blur(100px);
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.1);
  animation: bounce-in 1s forwards 1;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.dropzone-container {
  height: 100%;
  width: 100%;
  display: flex;
  order: 0;
  background: var(--white);
  z-index: 99;
  border-radius: var(--radius500);
  padding: var(--s1);
  box-shadow: var(--shadow3d);
  transition: all 0.2s ease-out;
}

.dropzone-container:active {
  transform: Scale(0.95);
}

.dropzone-container.active {
  transform: scale(0.95);
}

.dropzone-container:hover .dropzone-root {
  transform: scale(0.95);
}

.dropzone-container:hover + .cog-button {
  opacity: 0;
}

.dropzone-container.active + .cog-button {
  opacity: 0;
}

#explainformats {
  transition: all 0.3s ease-out;
}

.dropzone-container.active #explainformats {
  transform: translatey(var(--s2));
  opacity: 0;
}

.dropzone-container.active .upload-button {
  transform: scale(1.15);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.dropzone-container.active .upload-button:after {
  animation: slide-up 2s infinite;
  animation-timing-function: ease-in;
}

@keyframes slide-up {
  0% {
    transform: translatey(10px);
    opacity: 0;
    filter: blur(5px);
  }
  30% {
    transform: translatey(-10px);
    opacity: 1;
    filter: blur(0px);
  }
  40% {
    transform: translatey(-8px);
    opacity: 0;
    filter: blur(0px);
  }
  100% {
    transform: translatey(20px);
    opacity: 0;
    filter: blur(0px);
  }
}

.dropzone-root {
  background-color: var(--white);
  border-radius: var(--radius500);
  padding: var(--s3) var(--s2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  border: 4px dashed var(--gray1);
  transition: all 0.2s ease-out;
}

.dropzone-root {
  color: var(--color500);
}

.upload-button {
  width: var(--s4);
  height: var(--s4);
  background: radial-gradient(circle at top right, var(--color500), transparent 80%),
    radial-gradient(circle at bottom right, var(--color300), transparent 80%),
    radial-gradient(circle at bottom left, var(--color500), transparent 80%),
    radial-gradient(circle at top left, var(--color300), transparent 80%), var(--black1);
  border-radius: var(--radius900);
  margin-bottom: var(--s2);
  box-shadow: var(--shadow3d);
  position: relative;
  overflow: hidden;
}

.upload-blur {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(circle at center left, var(--color300), transparent 50%),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%), var(--black1);
  z-index: 0;
  filter: blur(5px);
  animation: cta-background 10s infinite;
}

.dropzone-container:hover .upload-blur {
  animation: cta-background 3s infinite;
}

.upload-button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: var(--radius900);
  box-shadow: var(--shadow3d), inset -5px -5px 15px var(--color500);
  z-index: 1;
}

.upload-button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("@assets/arrow.svg");
  background-size: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.conversion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: var(--radius300);
  margin-top: var(--s1);
  align-self: normal;
  position: relative;
  background: var(--white);
  color: var(--gray3);
  z-index: 1;
  pointer-events: none;
  padding: var(--s0) var(--s1);
  cursor: inherit;
  animation: flip-in-hor-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.bar__container {
  position: absolute;
  border-radius: var(--radius900);
  margin: 0;
  z-index: 0;
  bottom: var(--s0);
  height: calc(var(--s0) / 2);
  background: var(--gray1);
  width: calc(100% - var(--s1));
  transition: all 0.5s ease-out;
  transform-origin: center right;
}

.bar__inner {
  background: linear-gradient(90deg, var(--color300), var(--color500), var(--color700));
  margin-bottom: var(--s1);
  z-index: 999;
  height: 100%;
  transition: all 0.3s ease-out;
  border-radius: var(--radius900);
}

.progress .bar-inner {
  border-radius: var(--radius300) 0 0 var(--radius300);
  background: var(--gray1);
}

.conversion.finished {
  animation-duration: 0.75s;
  animation-name: bounceIn;
  pointer-events: all;
}

.conversion.finished .bar__container {
  transform: translatey(10px);
  opacity: 0;
}

.conversion_information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--s1) 0;
}

.conversion_meta {
  z-index: 999;
  margin-right: var(--s3);
}

.conversion.cancelled {
  opacity: 0.5 !important;
  padding: 0 var(--s1);
}

.remaining-time {
  z-index: 999;
}

.filename {
  position: relative;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: default;
  font-size: var(--f1);
}

.download {
  width: var(--s3);
  transform: scale(0);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0 var(--radius300) var(--radius300) 0;
  background: radial-gradient(circle at bottom right, var(--color500) 30%, var(--color300) 100%);
  z-index: 9999;
  cursor: pointer;
}

.download:after {
  content: "";
  color: rgba(255, 255, 255, 0.5);
  background-image: url("@assets/download.svg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 var(--radius300) var(--radius300) 0;
  z-index: 99999;
  transition: all 0.2s ease-out;
}

.download:hover:after {
  transform: scale(0.8);
}

.finished .download {
  transform: scale(1);
}

.downloadall {
  background-color: var(--color500);
  outline: none;
  color: var(--white);
  border: none;
  padding: var(--s1) var(--s2);
  border-radius: var(--radius300);
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin-bottom: var(--s2);
}

.downloadall-container {
  opacity: 0;
  height: 0;
}

.downloadall-container.show {
  margin-top: var(--s3);
  height: auto;
  opacity: 1;
}

.donation {
  color: var(--white);
}

.finished .bar-container {
  display: none;
}

.finished .conversion_format {
  display: none;
}

.progress .conversion_outcome {
  display: none;
}

.chevron {
  background-image: url("@assets/chevron.svg");
  width: 24px;
  height: 24px;
  margin-top: var(--s2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/**/
/**/
/* HELP */
/**/
/**/

.infobox {
  position: relative;
}

.infobox:before {
  content: "?";
  position: absolute;
  right: calc(var(--s1) * (-1) - 5px);
  border-radius: var(--radius100);
  width: var(--s1);
  height: var(--s1);
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--gray3) !important;
}

.infobox:hover:before {
  width: auto;
  text-align: left;
  height: auto;
  padding: var(--s0);
  border-radius: var(--radius100);
  max-width: var(--s5);
  word-break: break-all;
  font-size: var(--f0);
  background: var(--gray1);
  word-break: normal;
}

h2.infobox:hover:before {
  content: "using WASM & Rav1e";
}

#explainformats:hover:before {
  content: "png, jpg, jpeg, webp, gif, bmp, dib, ico, tiff, tif, pbm, pgm, ppm, pnm, dds, tga, icb, vda, vst, ff";
}

/**/
/**/
/* SETTINGS */
/**/
/**/

.dropzone-and-settings {
  display: flex;
}

.cog-and-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
}

.cog-button {
  position: absolute;
  top: 0;
  width: 24px;
  right: 0;
  height: 24px;
  padding: var(--s3);
  display: block;
  z-index: 999;
  cursor: pointer;
  background-color: var(--gray2);
  mask-image: url("@assets/settings.svg");
  mask-size: 24px;
  mask-position: center center;
  mask-repeat: no-repeat;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.settings_cog {
  position: absolute;
  padding: var(--s2);
  border-radius: var(--radius500);
  top: 0;
  right: 0;
  bottom: 0;
  height: calc(var(--s5) * 3);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.cog-button.open {
  transform: rotate(180deg);
}

.settings_cog.open {
  transform: scale(1) translatex(calc(100% + var(--s2)));
  background-color: var(--white);
  opacity: 1;
}

.open .settings-box {
  opacity: 1;
}

.settings-box {
  opacity: 0;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  padding: var(--s2) 0;
  max-height: 512px;
}

.settings-box div {
  width: 100%;
  text-align: left;
}

.open .dropzone-container {
  box-shadow: none;
}

.align-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subsampling-options {
  display: flex;
  padding-top: 5px;
  text-align: left;
}

.subsampling-options label {
  margin-right: var(--s1);
}

.settings-box label {
  display: flex;
  align-items: center;
}

.checkbox-text {
  display: inline;
  padding-left: var(--s0);
  position: relative;
}

.checkbox > p {
  color: var(--gray3);
  padding: 0.5rem 0.25rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
  color: var(--gray2);
}

.section__tutorials {
  padding: var(--responsivepadding);
  position: relative;
  background: var(--black1);
}

.section__tutorials * {
  position: relative;
  z-index: 3;
}

.section__tutorials:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-image: url(@assets/bg.svg);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: 1;
}

.section__tutorials:after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: var(--black1-8);
  z-index: 2;
  opacity: 1;
  backdrop-filter: blur(10px);
}

.tutorial__title {
  color: #fff;
  font-weight: bold;
  font-size: var(--f2);
  position: relative;
  z-index: 999;
}

.tutorials__container {
  display: grid;
  grid-template-columns: var(--grid12234);
  grid-gap: var(--gridgap);
}

.tutorials__box {
  width: 100%;
  border-radius: var(--radius500);
  position: relative;
  padding: calc(100% - var(--s1)) var(--s1) var(--s1) var(--s1);
  background: radial-gradient(at left center, var(--color500) 50%, var(--color700));
  cursor: pointer;
  box-shadow: var(--shadow3d);
  transition: all 0.2s ease-in-out;
}

.tutorials__box:hover {
  transform: scale(1.03) rotate(3deg);
}

.tutorials__box:nth-of-type(1) {
  filter: hue-rotate(0deg);
}
.tutorials__box:nth-of-type(2) {
  filter: hue-rotate(-6deg) saturate(0.98);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}
.tutorials__box:nth-of-type(3) {
  filter: hue-rotate(-12deg) saturate(0.96);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}
.tutorials__box:nth-of-type(4) {
  filter: hue-rotate(-18deg) saturate(0.94);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}
.tutorials__box:nth-of-type(5) {
  filter: hue-rotate(-6deg) saturate(0.98);
}
.tutorials__box:nth-of-type(6) {
  filter: hue-rotate(-12deg) saturate(0.96);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}
.tutorials__box:nth-of-type(7) {
  filter: hue-rotate(-28deg) saturate(0.94);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}
.tutorials__box:nth-of-type(8) {
  filter: hue-rotate(-34deg) saturate(0.92);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}
.tutorials__box:nth-of-type(9) {
  filter: hue-rotate(-12deg) saturate(0.96);
}
.tutorials__box:nth-of-type(10) {
  filter: hue-rotate(-18deg) saturate(0.94);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}
.tutorials__box:nth-of-type(11) {
  filter: hue-rotate(-24deg) saturate(0.92);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}
.tutorials__box:nth-of-type(12) {
  filter: hue-rotate(-30deg) saturate(0.8);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}

.tutorial__overflow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: var(--s1);
  overflow: hidden;
  border-radius: var(--radius500);
}

.tutorial__overflow:before {
  content: "l";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  fill: floralwhite;
  opacity: 0.1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scale(1.5);
}

#css .tutorial__overflow:before {
  background-image: url("@assets/css.svg");
}
#html .tutorial__overflow:before {
  background-image: url("@assets/html.svg");
}
#js .tutorial__overflow:before {
  background-image: url("@assets/js.svg");
}
#windows .tutorial__overflow:before {
  background-image: url("@assets/windows.svg");
}
#react .tutorial__overflow:before {
  background-image: url("@assets/react.svg");
}
#angular .tutorial__overflow:before {
  background-image: url("@assets/angular.svg");
}
#vue .tutorial__overflow:before {
  background-image: url("@assets/vue.svg");
}
#firefox .tutorial__overflow:before {
  background-image: url("@assets/firefox.svg");
}
#gimp .tutorial__overflow:before {
  background-image: url("@assets/gimp.svg");
}
#svelte .tutorial__overflow:before {
  background-image: url("@assets/svelte.svg");
}
#netlify .tutorial__overflow:before {
  background-image: url("@assets/netlify.svg");
}
#wordpress .tutorial__overflow:before {
  background-image: url("@assets/wordpress.svg");
}

.tutorials__box:hover .tutorial_shadow {
  transform: scale(1);
}

.tutorial__shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--color500);
  z-index: -1;
  filter: blur(5px);
  border-radius: var(--radius500);
  transform: scale(0);
}

/**/
/**/
/* AVIFBADGE */
/**/
/**/

#avifbadge {
  padding: var(--responsivepadding);
  padding-bottom: 0;
  position: relative;
  background: var(--black1);
  z-index: 2;
}

.badge__avif {
  border-radius: var(--radius500);
  padding: var(--s5);
  position: relative;
  margin: var(--s4);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge__shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: radial-gradient(circle at center left, var(--color300), transparent 50%),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%), var(--black1);
  z-index: -1;
  filter: blur(0px);
  border-radius: var(--radius900);
  animation: glow 15s infinite alternate-reverse both;
  width: 80%;
  padding-bottom: 40%;
  padding-top: 40%;
  margin: 0 auto;
  transition-timing-function: ease-in-out;
}

.badge__avif p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(var(--f3) * 2);
  font-weight: bold;
  z-index: 9;
}

/**/
/**/
/* AVIF ADVANTAGES */
/**/
/**/

#avifadvantages {
  background: var(--black1);
  padding: var(--responsivepadding);
}

.advantage__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--s2);
}

.advantage__grid__item {
  padding: var(--s2);
  background-color: var(--black2);
  color: #ffffff0d;
  border-radius: var(--radius500);
  cursor: default;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  padding-top: calc(100% - var(--s2));
  z-index: 99;
}

.advantage__text {
  position: absolute;
  top: var(--s2);
  right: var(--s2);
  left: var(--s2);
}

.advantage__grid__item:hover {
  background: #242424;
  color: white;
  transform: scale(1.05);
}

.advantage__important {
  color: var(--color500);
  font-weight: bold;
}

.advantage__visualizer {
  border-radius: var(--radius500);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  opacity: 0.015;
  transition: all 0.25s ease-out;
  z-index: 0;
  transform-origin: center center;
}

#visualizer-1 {
  background-image: url("@assets/visualizer-1.svg");
}

#visualizer-2 {
  background-image: url("@assets/visualizer-2.svg");
}

#visualizer-3 {
  background-image: url("@assets/visualizer-3.svg");
}

#visualizer-4 {
  background-image: url("@assets/visualizer-4.svg");
}

#visualizer-5 {
  background-image: url("@assets/visualizer-5.svg");
}

#visualizer-6 {
  background-image: url("@assets/visualizer-6.svg");
}
#visualizer-7 {
  background-image: url("@assets/visualizer-7.svg");
}
#visualizer-8 {
  background-image: url("@assets/visualizer-8.svg");
}
#visualizer-9 {
  background-image: url("@assets/visualizer-9.svg");
}

.advantage__grid__item:hover .visualizer {
  filter: blur(10px);
  opacity: 0.05;
  transform: scale(1.1);
}

/**/
/**/
/* IMAGECOMPARE */
/**/
/**/

#avifcompare {
  background: var(--black1);
  position: relative;
}

#avifcompare::after {
  content: "Cant see this image? Your browser doesn't support avif yet. :(";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-self: center;
  color: var(--white);
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#avifcompare #fileformats div {
  border-radius: var(--radius500);
}

#comparison__container {
  position: relative;
  z-index: 1;
}

#handle {
  background: var(--color500);
  padding: var(--s2) var(--s0);
  border-radius: var(--radius100);
}

#jpg {
  position: absolute;
  top: 0;
  padding: var(--s2);
  background: var(--white);
  padding: var(--s0);
  margin: var(--s1);
  border-radius: var(--radius100);
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}

#avif {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--s2);
  background: var(--white);
  padding: var(--s0);
  margin: var(--s1);
  border-radius: var(--radius100);
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}

#fileformats p.active {
  opacity: 1;
}

.advantages-explainer {
  margin: var(--s3) auto;
  text-align: center;
  color: var(--white);
  max-width: 768px;
  line-height: 2;
}

/**/
/**/
/* CTA */
/**/
/**/

.cta__container {
  padding: calc(var(--s5) * 1) calc(var(--s5) * 2);
  background: var(--black1);
  position: relative;
}

.cta {
  background: radial-gradient(circle at center left, var(--color300), transparent 50%),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%), var(--black1);
  padding: var(--s4);
  border-radius: var(--radius500);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.cta__blur {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(circle at center left, var(--color300), transparent 50%),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%), var(--black1);
  z-index: 0;
  filter: blur(50px);
  transition: all 10s ease-in-out;
  animation: cta-background 10s infinite alternate-reverse both;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("@assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  z-index: 1;
}

.cta__title {
  font-size: var(--f2);
  color: var(--white);
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.cta__subtitle {
  opacity: 0.5;
  color: var(--white);
  position: relative;
  z-index: 1;
}

.cta a {
  color: var(--white);
}

/**/
/**/
/* Can I use? */
/**/
/**/

#more {
  background: var(--gray1);
  padding: var(--responsivepadding);
}

.more__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.more__item {
  padding: var(--s1);
  font-weight: bold;
  color: var(--white);
  background: var(--black2);
}

.more__item:hover {
  background: var(--black2);
}

.more__item .f2 {
  font-weight: bold;
}

.more__badges {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  padding: var(--s0);
  background: var(--white);
  color: var(--black1);
  display: inline-flex;
  margin: 0 var(--s0) var(--s0) 0;
  border-radius: var(--radius100);
}

/**/
/**/
/* Footer */
/**/
/**/

.footer {
  background: var(--black4);
  padding: var(--s3) var(--s4);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: flex-end;
}

.footer * {
  color: var(--white);
}

.footer a {
  display: block;
  margin-bottom: var(--s0);
}

/**/
/**/
/* BLOGS */
/**/
/**/

.blog {
  background-color: var(--black1);
  background-image: url("@assets/bg-pink.svg");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.blog * {
  position: relative;
  z-index: 3;
}

.blog-blur {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-blog5);
  z-index: 2;
  opacity: 1;
  backdrop-filter: blur(5px);
}

.blog h1 {
  margin: 0 var(--s5) 0;
  padding: calc(var(--s4) * 2) var(--s4) var(--s4) var(--s4);
  font-size: calc(var(--f3) * 1.5);
}

.content__container {
  margin: var(--s4);
  background: var(--white);
  padding: var(--s5);
  border-radius: var(--radius700);
}

.content {
  max-width: 768px;
  margin: 0 auto;
  line-height: 2;
  color: var(--gray3);
}

.blog .button-primary {
  background: var(--white);
  opacity: 1;
}

.blog .button-primary a {
  color: var(--black1);
}

.tutorial__item {
  display: flex;
  align-items: flex-end;
  margin-top: var(--s2);
}

.tutorial__number {
  width: 25%;
  font-size: var(--f3);
  font-weight: bold;
  color: var(--color500);
  text-align: left;
  margin-right: var(--s1);
}

/**/
/**/
/* KEYFRAMES */
/**/
/**/

@keyframes cta-background {
  from {
    background-position: 100% 50%;
    transform: rotate(0deg) scale(1.2);
  }
  to {
    background-position: 25% 50%;
    transform: rotate(360deg) scale(1.4);
  }
}

@keyframes glow {
  0% {
    transform: scale(1.55);
    filter: blur(15px);
  }

  100% {
    transform: scale(1.6) rotate(360deg);
    filter: blur(75px);
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.04, 0.92);
  }
  30% {
    transform: scale(0.92, 1.04);
  }
  50% {
    transform: scale(1.02, 0.96);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1.01, 0.99);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.97, 0.97, 0.97);
  }
  20% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  40% {
    transform: scale3d(0.98, 0.98, 0.98);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    transform: scale3d(0.99, 0.99, 0.99);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes settingsbox {
  0% {
    background: rgb(255 255 255 / 0);
  }
  95% {
    background: rgb(255 255 255 / 0);
    backdrop-filter: blur(0px);
  }
  100% {
    background: rgb(255 255 255 / 0.4);
    backdrop-filter: blur(100px);
  }
}

/**/
/**/
/* MEDIA QUERIES */
/**/
/**/

@media only screen and (max-width: 1399.98px) {
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 60%;
  }
  .tutorials__box {
    margin: 0 !important;
  }
  .content__container {
    padding: var(--s3);
    border-radius: var(--radius300);
    margin: var(--s2);
  }
  .cta__container {
    padding: calc(var(--s5) * 1) calc(var(--s3) * 2);
  }
}

@media only screen and (max-width: 991.98px) {
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 80%;
  }
  .advantage__grid {
    grid-template-columns: 1fr 1fr;
    padding: var(--s2);
    grid-gap: var(--s1);
  }
  .content__container {
    padding: var(--s2);
    border-radius: var(--radius300);
    margin: var(--s1);
  }
  .blog h1 {
    padding: var(--s4) var(--s1) var(--s1) var(--s1);
    font-size: var(--f3);
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  #footer-info {
    grid-column: 1/3;
    margin-bottom: var(--s3);
  }
  .footer > div {
    margin-bottom: var(--s3);
  }
  .cta__container {
    padding: calc(var(--s5) * 1) calc(var(--s2) * 2);
  }
  .advantage__grid__item {
    font-size: var(--f1);
    min-height: auto;
  }
}

@media only screen and (max-width: 767.98px) {
  .cog-button,
  .settings_cog {
    display: none;
  }
  .app-container {
    background-size: cover;
  }
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 100%;
  }
  .advantage__grid {
    grid-template-columns: 1fr;
    padding: var(--s1);
    grid-gap: var(--s0);
  }
  .advantage__grid__item {
    min-height: 0;
    margin: var(--s0);
  }
  .badge__shadow {
    display: none;
    transform: inherit !important;
  }
  .cta__container {
    padding: calc(var(--s5) * 1) calc(var(--s1) * 2);
  }
  .cta {
    padding: var(--s3);
  }
}

@media only screen and (max-width: 575.98px) {
  .cta__container {
    padding: calc(var(--s5) * 1) var(--s1);
  }
  .advantage__grid {
    padding: var(--s1);
    grid-gap: var(--s0);
  }
}

@supports (-moz-appearance: meterbar) {
  .section__tutorials::before {
    filter: blur(10px);
    transform: scaley(-1.01) scalex(-1.01);
    z-index: 0;
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: var(--color500);
    --active-inner: #fff;
    --border: var(--gray2);
    --border-hover: var(--color500);
    --background: #fff;
    --disabled: var(--gray2);
    --disabled-inner: var(--gray3);
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type="checkbox"]:after,
  input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type="checkbox"]:disabled:checked,
  input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type="checkbox"]:disabled + label,
  input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  input[type="checkbox"]:hover:not(:checked):not(:disabled),
  input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type="checkbox"]:not(.switch),
  input[type="radio"]:not(.switch) {
    width: 21px;
  }
  input[type="checkbox"]:not(.switch):after,
  input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type="checkbox"]:not(.switch):checked,
  input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  input[type="checkbox"]:not(.switch):after {
    width: 3px;
    height: 7px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
    transform: rotate(var(--r, 20deg));
  }
  input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
    transform: translateX(var(--x, 0));
  }
  input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type="radio"] {
    border-radius: 50%;
  }
  input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
    transform: scale(var(--s, 0.7));
  }
  input[type="radio"]:checked {
    --s: 0.5;
  }
}

::-moz-range-track {
  background: var(--gray2);
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: var(--s0);
  border-radius: var(--radius300);
  background: var(--gray1);
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color300);
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--color500);
}
input[type="range"]:active::-webkit-slider-thumb {
  background: var(--color500);
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: var(--gray3);
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
input[type="range"]::-moz-range-thumb:hover {
  background: var(--color500);
}
input[type="range"]:active::-moz-range-thumb {
  background: var(--color500);
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--color700);
}
