@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("./fonts/poppins-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("./fonts/poppins-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none !important;
  color: var(--secondary);
  cursor: pointer;
}

a:active {
  color: inherit !important;
}

h1,
h2,
h3,
div,
p {
  margin: 0;
  font-weight: 400;
}

:root {
  --blue: #29a2ff;
  --lightblue: #75c3ff;
  --red: #ff2929;
  --lightred: #ffd4d4;
  --white: #fff;
  --light: #f5f5f5;
  --gray: #6997ba;
  --primary: #1b2d3b;
  --secondary: #3b6280;
  --f1: calc(16px + 0.01vw);
  --f2: calc(var(--f1) * 2);
  --f3: calc(var(--f2) * 2);
  --s0: calc(8px + 0.01vw);
  --s1: calc(var(--s0) * 2);
  --s2: calc(var(--s1) * 2);
  --s3: calc(var(--s2) * 2);
  --s4: calc(var(--s3) * 2);
}

body {
  font-family: "Poppins";
  font-weight: 400;
  background: linear-gradient(
    -200deg,
    rgb(117 195 255 / 0.1) 0%,
    rgb(117 195 255 / 0.35) 30%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--f1);
  line-height: 1.6;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--blue) transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 6px;
  border: 0px;
}

::selection {
  color: var(--primary);
  background: var(--lightblue);
}

.blue {
  color: var(--blue);
}

.lightblue {
  color: var(--lightblue);
}

.red {
  color: var(--red);
}

.lightred {
  color: var(--lightred);
}

.white {
  color: var(--white);
}

.light {
  color: var(--light);
}

.gray {
  color: var(--gray);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.f1 {
  font-size: var(--f1);
}

.f2 {
  font-size: var(--f2);
  line-height: 1.2;
}

.f3 {
  font-size: var(--f3);
  line-height: 1.2;
}

.s0 {
  margin-bottom: var(--s0);
}

.s1 {
  margin-bottom: var(--s1);
}

.s2 {
  margin-bottom: var(--s2);
}

.s3 {
  margin-bottom: var(--s3);
}

.s4 {
  margin-bottom: var(--s4);
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.headline {
  font-size: var(--f5);
  color: var(--blue);
  font-weight: bold;
  line-height: 1.2;
}

.bold {
  font-weight: 900;
}

@keyframes AnimationName {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--s3) var(--s3) var(--s4);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 36px;
  width: 75%;
  max-width: 1024px;
  box-shadow: 0 2.8px 2.2px rgba(43, 51, 60, 0.003),
    0 6.7px 5.3px rgba(43, 51, 60, 0.004), 0 12.5px 10px rgba(43, 51, 60, 0.005),
    0 22.3px 17.9px rgba(43, 51, 60, 0.006),
    0 41.8px 33.4px rgba(0, 0, 0, 0.007), 0 100px 80px rgba(43, 51, 60, 0.01);
  text-align: center;
  flex-direction: column;
  background: #ffffff96;
  transition: all 0.45s ease-in-out;
}

.dropzone-container {
  height: 100%;
  width: 100%;
  display: flex;
  order: 0;
  background: white;
  z-index: 99;
  border-radius: 24px;
}

.dropzone-container.active {
  transform: scale(0.95);
}

.dropzone-container:hover {
  transform: scale(0.98);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main-container {
  animation: bounce-in 1s forwards 1;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce-in {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.04, 0.92);
  }
  30% {
    transform: scale(0.92, 1.04);
  }
  50% {
    transform: scale(1.02, 0.96);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1.01, 0.99);
  }
  100% {
    transform: scale(1, 1);
  }
}

.dropzone-container,
.dropzone-container * {
  transition: all 0.2s ease-in-out;
}

.dropzone-root {
  background-color: var(--white);
  border: dashed 4px var(--light);
  border-radius: 26px;
  padding: var(--s4) var(--s2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.active .dropzone-root {
  border: dashed 4px var(--blue);
  background: #eff5fa;
  background: linear-gradient(318deg, #eff5fa, #fff, #f3f3f3, #fff);
  background-size: 800% 800%;
  animation: AnimationName 6s ease infinite;
}

.main-container .downloadall-container + .dropzone-container .dropzone-root,
.main-container a + .dropzone-container .dropzone-root {
  padding: var(--s2);
}

.main-container
  .downloadall-container
  + .dropzone-container
  .dropzone-root
  .picture,
.main-container a + .dropzone-container .dropzone-root .picture {
  animation: imageshrink 0.3s;
  animation-fill-mode: forwards;
}

@keyframes imageshrink {
  0% {
    transform: scale(1);
    height: 130px;
    opacity: 1;
  }
  33% {
    transform: scale(0.5);
    height: 130px;
    opacity: 1;
  }
  66% {
    transform: scale(0.05);
    height: 130px;
    opacity: 0;
  }
  100% {
    transform: scale(0);
    height: 0;
    opacity: 0;
    margin-bottom: 0;
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.97, 0.97, 0.97);
  }
  20% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  40% {
    transform: scale3d(0.98, 0.98, 0.98);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    transform: scale3d(0.99, 0.99, 0.99);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.picture {
  position: relative;
}

.picture svg {
  position: relative;
  z-index: 99;
}

.active .picture svg {
  transform: rotate(3deg);
}

.picture:after {
  content: "";
  background-image: url("./assets/picture.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  transform: rotate(0deg);
  transform-origin: 100% 90%;
  right: 0;
  opacity: 0.5;
  transition: all 0.2s ease-out;
}

.active .picture:after {
  transform: rotate(20deg);
  transform-origin: 100% 90%;
  transition: all 0.2s ease-in;
}

.conversion {
  display: flex;
  justify-content: space-between;
  padding: var(--s1);
  border-radius: 16px;
  margin-top: var(--s1);
  align-self: normal;
  align-items: center;
  position: relative;
  background: var(--white);
  color: var(--secondary);
  animation: flip-in-hor-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 1;
  pointer-events: none;
}

.conversion:active {
  color: white !important;
}

.conversion:first-of-type {
  margin-top: var(--s2);
}

.conversion.finished,
.conversion.in-progress {
  transform-origin: center center;
}

.bar-container {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 12px;
  margin: 0;
  z-index: 0;
}

.bar-inner {
  height: 100%;
  transition: all 0.3s ease-out;
  background-color: var(--lightblue);
  border-radius: 12px;
}

.progress .bar-inner {
  border-radius: 12px 0 0 12px;
}

/*Finished*/
.finished-conversion {
  display: flex;
}

.conversion.finished {
  background: var(--blue);
  color: var(--white);
  animation-duration: 0.75s;
  animation-name: bounceIn;
  pointer-events: all;
}

.meta {
  background: var(--secondary);
  color: var(--white);
  margin-right: var(--s1);
  border-radius: 6px;
  padding: var(--s0);
  z-index: 999;
}

.conversion.finished .meta {
  background: var(--white);
  color: var(--primary);
  margin-right: var(--s1);
}

.filename {
  position: relative;
  z-index: 99;
  text-align: left;
  max-width: 360px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.download {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: white;
  background-image: url("./assets/download.svg");
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  transform: scale(0);
  position: relative;
}

.finished .download {
  transform: scale(1);
}

.finished .download:before {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  animation: pulse 2s 1;
  animation-delay: 2s;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 100%;
}

.download:hover {
  transform: scale(0.9);
}

.downloadall {
  background-color: var(--blue);
  outline: none;
  box-shadow: none;
  color: var(--white);
  border: none;
  padding: var(--s1) var(--s2);
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.downloadall-container {
  position: fixed;
  bottom: 0;
  z-index: 99999;
  background: white;
  display: flex;
  text-align: center;
  padding: var(--s1);
  border-radius: 0;
  width: 100%;
  left: 0;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}

.downloadall-container.show {
  animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-fwd-bottom {
  0% {
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.finished .bar-container {
  display: none;
}

.finished .originalformat {
  display: none;
}

.progress .conversionformat {
  display: none;
}

/* Site */

.header {
  position: absolute;
  left: 24px;
  text-align: right;
  top: 24px;
}

.header-two {
  position: absolute;
  right: 12px;
  text-align: right;
  top: 12px;
  color: var(--gray);
  max-width: 200px;
  font-size: 0.5em;
}

.header a {
  margin-bottom: var(--s0);
  display: block;
  color: var(--secondary);
}

.header .blue {
  color: var(--blue);
}

.section {
  padding: 12vw 12vw;
  position: relative;
}

.section:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.015);
}

/* Code */

#howto .right-half {
  display: flex;
  min-height: 400px;
  max-width: 600px;
  padding: var(--s2);
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 2.8px 2.2px rgba(43, 51, 60, 0.003),
    0 6.7px 5.3px rgba(43, 51, 60, 0.004), 0 12.5px 10px rgba(43, 51, 60, 0.005),
    0 22.3px 17.9px rgba(43, 51, 60, 0.006),
    0 41.8px 33.4px rgba(0, 0, 0, 0.007), 0 100px 80px rgba(43, 51, 60, 0.01);
}

#howto .left-half .f2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#howto .left-half {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.css #css,
.html #html,
.wordpress #wordpress,
.netlify #netlify,
.shopify #shopify {
  color: var(--primary);
}

.css #css:before,
.html #html:before,
.wordpress #wordpress:before,
.netlify #netlify:before,
.shopify #shopify:before {
  content: "";
  height: 20px;
  display: block;
  width: 100%;
  position: absolute;
  background: var(--lightblue);
  border-radius: 4px;
  bottom: 0px;
  z-index: -1;
}

.css #css-tutorial {
  display: block;
}

.html #html-tutorial {
  display: block;
}

.wordpress #wordpress-tutorial {
  display: block;
}

.netlify #netlify-tutorial {
  display: block;
}

.shopify #shopify-tutorial {
  display: block;
}

#howto .flex-center {
  align-items: inherit;
}

.braces {
  margin: 0 var(--s0);
}

.container-code {
  display: none;
}

.opacity-half {
  opacity: 0.5;
}

.badge {
  background: var(--secondary);
  color: var(--white);
  border-radius: 6px;
  padding: var(--s0);
  display: inline-block;
}

/* Comparison */

#whatisavif .left-half {
  flex: 1;
  margin-right: var(--s3);
}

#whatisavif .right-half {
  flex: 2;
  position: relative;
  align-self: stretch;
  justify-self: stretch;
}

#comparison-img div[data-testid="container"] {
  border-radius: 32px;
}

.handle {
  width: var(--s1);
  height: var(--s3);
  background: var(--blue);
  border-radius: 9999px;
}

.comparison-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary);
  margin-top: var(--s0);
}

/* TECH COMPANIES */

#tech-companies {
  background-image: url("./assets/aom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#gainanadvantage .right-half {
  flex: 2;
  align-self: stretch;
}

#gainanadvantage .left-half {
  flex: 1;
  position: relative;
  align-self: baseline;
  margin-right: var(--s3);
}

/* ADVANTAGE */

#supportedbyplayers .right-half {
  flex: 2;
  align-self: stretch;
}

#supportedbyplayers .left-half {
  flex: 1;
  position: relative;
  align-self: baseline;
  margin-right: var(--s3);
}

/* SLIDE */

#speed {
  padding-top: 0;
}

.slide {
  padding: var(--s1);
  text-align: center;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 2.8px 2.2px rgba(43, 51, 60, 0.003),
    0 6.7px 5.3px rgba(43, 51, 60, 0.004), 0 12.5px 10px rgba(43, 51, 60, 0.005),
    0 22.3px 17.9px rgba(43, 51, 60, 0.006),
    0 41.8px 33.4px rgba(0, 0, 0, 0.007), 0 100px 80px rgba(43, 51, 60, 0.01);
}

.carousel {
  padding: var(--s1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--s1);
}

.chevron {
  background-image: url("./assets/chevron.svg");
  width: 24px;
  height: 24px;
  margin-top: var(--s2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* SETTINGS */

.dropzone-and-settings {
  display: flex;
}

.cog-and-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
}

.cog-button {
  position: absolute;
  top: 0px;
  width: 24px;
  right: -45px;
  height: 24px;
  display: block;
  background-image: url("./assets/settings.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(57%) sepia(64%) saturate(252%) hue-rotate(163deg)
    brightness(88%) contrast(90%);
  transition: all 0.6s ease-in-out;
}

.cog-button.open {
  transform: rotate(180deg);
  filter: invert(55%) sepia(71%) saturate(2742%) hue-rotate(182deg)
    brightness(100%) contrast(102%);
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 999px;
  background: var(--light);
  outline: none;
  padding: 0;
  margin: 0;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--blue);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: var(--blue);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.settings_cog {
  position: absolute;
  left: inherit;
  padding: var(--s2);
  background: none;
  height: 100%;
  min-width: 250px;
  right: 0%;
  transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 0 36px 36px 0;
  z-index: -1;
}

.settings_cog.open {
  transform: translatex(90%);
  background: #f6fafe;
}

.open .settings-box {
  opacity: 1;
}

.settings-box {
  opacity: 0;
  transition: all 0.45s ease-in-out;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  padding: var(--s2) 0;
  max-height: 512px;
}

.settings-box div {
  width: 100%;
  text-align: left;
}

.main-container.open {
  align-items: baseline;
  width: calc(75% - 250px);
  border-radius: 36px 0 0 36px;
}

.align-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.subsampling-options {
  display: flex;
  padding-top: 5px;
  text-align: left;
}

.subsampling-options label {
  margin-right: var(--s1);
}

.settings-box label {
  display: flex;
  align-items: center;
}

.checkbox-text {
  display: inline;
  padding-left: var(--s0);
  position: relative;
}

.disabled {
  color: gray;
}

.checkbox > p {
  color: #34495e;
  padding: 0.5rem 0.25rem;
}

input[type="checkbox"] {
  height: 24px;
  width: 24px;
  appearance: none;
  border: none;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: var(--white);
}

input[type="checkbox"]:checked + p::before {
  content: "\2713";
  display: block;
  text-align: center;
  color: var(--blue);
  position: absolute;
  left: -19px;
  top: 0px;
  cursor: pointer;
}

.remaining-time {
  opacity: 0;
  z-index: 999;
}

.progress .remaining-time {
  animation: 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 10s 1 normal both running
    tracking-in-expand;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**/

@media only screen and (max-width: 768px) {
  :root {
    --f1: 16px;
    --f2: 24px;
    --f3: 36px;
    --s0: 4px;
    --s1: 6px;
    --s2: 12px;
    --s3: 24px;
    --s4: 48px;
  }

  body {
    padding-top: var(--s4);
  }

  .section {
    padding: 6vw;
    padding-top: var(--s4);
  }

  .flex-center {
    display: block;
  }

  .carousel {
    grid-template-columns: 1fr;
    grid-gap: var(--s3);
    padding: inherit;
  }

  .slide {
    padding: var(--s2);
  }

  .center {
    text-align: left;
  }

  .explanation-image {
    flex: 7;
    min-height: 30vh;
    position: relative;
    margin: var(--s1) 0 var(--s4);
  }

  .f1.secondary.s4.center {
    display: none;
  }

  .settings_cog {
    overflow: hidden;
  }

  .cog-button {
    right: -90px;
  }

  .f3.blue.bold.f2.s2.center {
    margin: 0;
  }

  .left-half .secondary {
    margin-bottom: var(--s3);
  }

  .main-container {
    width: 100%;
  }
}

@media (prefers-reduced-motion) {
  * {
    animation: none;
  }
}
