:root {
  --checkbox-animation-duration: 150ms;
}

.settings-box {
  transition: max-width 400ms, transform 500ms;
  transform-origin: left;
  overflow: hidden;
  width: min-content;
}

.open {
  max-width: 1000px;
  transform: scaleX(1);
}

.closed {
  max-width: 0;
  transform: scaleX(0);
}

.align-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.subsampling-options {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

.checkbox-text {
  display: inline;
  padding-left: 5px;
}

.disabled {
  color: gray;
}

input[type="checkbox"] {
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  border: 1px solid gray;
  border-radius: 6px;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -2px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: white;
  transition: background-color var(--checkbox-animation-duration);
}

input[type="checkbox"]::before {
  transition: opacity var(--checkbox-animation-duration);
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: 0.1em;
  top: -0.1em;
  opacity: 0;
}

input[type="checkbox"]:checked {
  background-color: #29a2ff;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

input[type="range"] {
  width: 200px;
}

.lossless-checkbox {
  padding: 5px 0 20px 0;
}
