/**/
/**/
/* VARIABLES */
/**/
/**/

:root {
  --f0: calc(var(--f1) / 2);
  --f1: calc(16px + 0.1vw);
  --f2: calc(var(--f1) * 2);
  --f3: calc(var(--f2) * 2);

  --s0: calc(4px + 0.5vh);
  --s1: calc(var(--s0) * 2);
  --s2: calc(var(--s1) * 2);
  --s3: calc(var(--s2) * 2);
  --s4: calc(var(--s3) * 1.5);
  --s5: calc(var(--s4) * 1.5);

  --lineheight-text: 1.6;
  --lineheight-headline: 1.3;

  --radius100: 6px;
  --radius300: 12px;
  --radius500: 24px;
  --radius700: 48px;
  --radius900: 999999px;

  --color900: #790054;
  --color700: #ab0d5e;
  --color500: #cf0054;
  --color300: #fc7a4b;
  --color100: #ffcc00;

  --white: #fff;
  --gray1: #f4f4f4;
  --gray2: #bbbbbb;
  --gray3: #353535;
  --gray4: #111;

  --bg1: #140635;
  --bg2: #2c0635;
  --bg3: #061935;

  --shadow: 0 2.2px 2.2px rgba(187, 187, 187, 0.006),
    0 5.3px 5.3px rgba(187, 187, 187, 0.008),
    0 10px 10px rgba(187, 187, 187, 0.01),
    0 17.9px 17.9px rgba(187, 187, 187, 0.012),
    0 33.4px 33.4px rgba(187, 187, 187, 0.014),
    0 80px 80px rgba(187, 187, 187, 0.02);

  --responsivepadding: calc(20vh + 5vw) calc(10vh + 15vw) calc(5vh + 5vw)
    calc(10vh + 15vw);
  --grid12234: repeat(4, 1fr);
  --gridgap: var(--s2);

  --shadow3d: inset -2px -12px 12px rgba(0, 0, 0, 0.1);
}

/**/
/**/
/* MEDIA QUERIES BASICS */
/**/
/**/

@media only screen and (max-width: 1399.98px) {
  :root {
    --grid12234: repeat(3, 1fr);
    --responsivepadding: calc(10vh + 10vw) calc(5vh + 5vw);
  }
}

@media only screen and (max-width: 991.98px) {
  :root {
    --f1: calc(15px + 0.1vw);
    --s0: calc(5px + 0.5vh);
    --responsivepadding: calc(2.5vh + 2.5vw);
    --grid12234: repeat(2, 1fr);
    --gridgap: var(--s1);
  }
}

@media only screen and (max-width: 767.98px) {
  :root {
    --grid12234: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575.98px) {
  :root {
    --f1: calc(14px + 0.1vw);
    --s0: calc(4px + 0.5vh);
    --responsivepadding: calc(1vh + 1vw);
    --grid12234: repeat(1, 1fr);
    --gridgap: var(--s0);
  }
}

/**/
/**/
/* FONTS */
/**/
/**/

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../assets/fonts/poppins-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../assets/fonts/poppins-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Patua One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/patua-one.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/**/
/**/
/* BASICS */
/**/
/**/

* {
  box-sizing: border-box;
}

::selection {
  background: var(--color500);
}

body {
  font-family: "Poppins";
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--f1);
  line-height: var(--lineheight-text);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
}

h1 {
  margin-top: var(--s5);
}

h1,
h2 {
  font-weight: 400;
  text-align: center;
  z-index: 999;
}

h3,
div,
p,
span {
  margin: 0;
  font-weight: 400;
}

.f0 {
  font-size: calc(var(--f2) / 2);
}

.f1 {
  font-size: var(--f1);
  line-height: var(--lineheight-text);
}

.f2 {
  font-size: var(--f2);
  line-height: var(--lineheight-headline);
}

.f3 {
  font-family: "Patua One";
  font-size: var(--f3);
  line-height: var(--lineheight-headline);
  margin-bottom: var(--s2);
}

.s0 {
  margin-bottom: var(--s0);
}

.s1 {
  margin-bottom: var(--s1);
}

.s2 {
  margin-bottom: var(--s2);
}

.s3 {
  margin-bottom: var(--s3);
}

.s4 {
  margin-bottom: var(--s4);
}

.s5 {
  margin-bottom: var(--s5);
}

.color100 {
  color: var(--color100);
}
.color300 {
  color: var(--color300);
}
.color500 {
  color: var(--color500);
}
.color700 {
  color: var(--color700);
}
.color900 {
  color: var(--color900);
}

.white {
  color: var(--white);
}
.black300 {
  color: var(--gray1);
}
.black500 {
  color: var(--gray2);
}
.black700 {
  color: var(--gray3);
}
.black900 {
  color: var(--bg1);
}

.text-20 {
  max-width: 20%;
}

.text-40 {
  max-width: 40%;
}

.text-60 {
  max-width: 60%;
}

.text-80 {
  max-width: 80%;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.button-primary {
  background: var(--color500);
  padding: var(--s0) var(--s1);
  border-radius: var(--radius300);
}

/**/
/**/
/* MENU */
/**/
/**/

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
  color: white;
  display: flex;
  padding: 0 var(--s4);
  align-items: center;
  justify-content: space-between;
  height: var(--s4);
}

.logo {
  font-family: "Patua One";
}

.conversionscounter {
  margin-left: var(--s2);
}

.menu a {
  margin-left: var(--s3);
}

/**/
/**/
/* CONVERTER */
/**/
/**/

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg1);
  background-image: url(../assets/images/newbg.svg);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: var(--s2);
  position: relative;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--s1);
  max-width: calc(var(--s5) * 6);
  border-radius: var(--radius500);
  box-shadow: var(--shadow);
  text-align: center;
  flex-direction: column;
  backdrop-filter: blur(100px);
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.1);
}

.dropzone-container {
  height: 100%;
  width: 100%;
  display: flex;
  order: 0;
  background: var(--white);
  z-index: 99;
  border-radius: var(--radius500);
  padding: var(--s1);
  box-shadow: var(--shadow3d);
}

.dropzone-container.active {
  transform: scale(0.95);
}

.dropzone-root {
  background-color: var(--white);
  border-radius: var(--radius500);
  padding: var(--s3) var(--s2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  border: 4px dashed var(--gray1);
}

.upload-button {
  width: var(--s4);
  height: var(--s4);
  background: radial-gradient(
      circle at top right,
      var(--color500),
      transparent 80%
    ),
    radial-gradient(circle at bottom right, var(--color300), transparent 80%),
    radial-gradient(circle at bottom left, var(--color500), transparent 80%),
    radial-gradient(circle at top left, var(--color300), transparent 80%),
    var(--bg1);
  border-radius: var(--radius300);
  margin-bottom: var(--s2);
  box-shadow: var(--shadow3d);
  position: relative;
}

.upload-button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../assets/images/arrow.svg");
  background-size: 24px;
  background-position: center center;
  background-repeat: no-repeat;
}

.conversion {
  display: flex;
  justify-content: space-between;
  border-radius: var(--radius300);
  margin-top: var(--s1);
  align-self: normal;
  position: relative;
  background: var(--white);
  color: var(--bg1);
  z-index: 1;
  pointer-events: none;
  flex-direction: column;
  cursor: inherit;
}

.bar-container {
  position: absolute;
  border-radius: var(--radius300);
  margin: 0;
  z-index: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.bar-inner {
  transition: all 0.3s ease-out;
  background-color: var(--gray1);
  border-radius: var(--radius300);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.bar-inner-small {
  height: 2px;
  transition: all 0.3s ease-out;
  background: linear-gradient(
    90deg,
    var(--color100),
    var(--color300),
    var(--color500)
  );
  margin-bottom: var(--s1);
  z-index: 999;
}

.progress .bar-inner {
  border-radius: var(--radius300) 0 0 var(--radius300);
  background: var(--gray1);
}

.conversion.finished {
  animation-duration: 0.75s;
  animation-name: bounceIn;
  pointer-events: all;
}

.conversion_information {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: var(--s0) var(--s1);
}

.conversion_meta {
  color: var(--gray2);
  z-index: 999;
}

.remaining-time {
  opacity: 0;
  z-index: 999;
  color: var(--gray2);
}

.filename {
  position: relative;
  z-index: 99;
  text-align: left;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  user-select: none;
  cursor: default;
}

.download {
  width: var(--s3);
  transform: scale(0);
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 0 var(--radius300) var(--radius300) 0;
  background: radial-gradient(
    circle at bottom right,
    var(--color500) 30%,
    var(--color300) 100%
  );
  z-index: 9999;
  cursor: pointer;
}

.download:after {
  content: "";
  color: rgba(255, 255, 255, 0.5);
  background-image: url("../assets/images/download.svg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 var(--radius300) var(--radius300) 0;
  z-index: 99999;
}

.finished .download {
  transform: scale(1);
}

.downloadall {
  background-color: var(--bg1);
  outline: none;
  color: var(--white);
  border: none;
  padding: var(--s1) var(--s2);
  border-radius: var(--radius300);
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin-bottom: var(--s2);
}

.downloadall-container {
  opacity: 0;
  height: 0;
}

.downloadall-container.show {
  margin-top: var(--s3);
  height: auto;
  opacity: 1;
}

.finished .bar-container {
  display: none;
}

.finished .conversion_format {
  display: none;
}

.progress .conversion_outcome {
  display: none;
}

.chevron {
  background-image: url("../assets/images/chevron.svg");
  width: 24px;
  height: 24px;
  margin-top: var(--s2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/**/
/**/
/* HELP */
/**/
/**/

.infobox {
  position: relative;
}

.infobox:before {
  content: "?";
  position: absolute;
  right: calc(var(--s1) * (-1) - 5px);
  border-radius: var(--radius100);
  width: var(--s1);
  height: var(--s1);
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--gray3) !important;
}

.infobox:hover:before {
  width: auto;
  text-align: left;
  height: auto;
  padding: var(--s0);
  border-radius: var(--radius100);
  max-width: var(--s5);
  word-break: break-all;
  font-size: var(--f0);
  background: var(--gray1);
  word-break: normal;
}

h2.infobox:hover:before {
  content: "using WASM & Rav1e";
}

#explainformats:hover:before {
  content: "png, jpg, jpeg, webp, gif, bmp, dib, ico, tiff, tif, pbm, pgm, ppm, pnm, dds, tga, icb, vda, vst, ff";
}

/**/
/**/
/* SETTINGS */
/**/
/**/

.dropzone-and-settings {
  display: flex;
}

.cog-and-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
}

.cog-button {
  position: absolute;
  top: 0;
  width: 24px;
  right: 0;
  height: 24px;
  padding: var(--s3);
  display: block;
  z-index: 999;
  cursor: pointer;
  background-color: var(--gray2);
  mask-image: url("../assets/images/settings.svg");
  mask-size: 24px;
  mask-position: center center;
  mask-repeat: no-repeat;
}

.settings_cog {
  position: absolute;
  padding: var(--s2);
  border-radius: 0 var(--radius500) var(--radius500) 0;
  backdrop-filter: blur(0px);
  top: 0;
  right: 0;
  left: inherit;
  bottom: 0;
}
.cog-button.open {
  transform: rotate(180deg);
}

.settings_cog.open {
  transform: translatex(100%);
  backdrop-filter: blur(100px);
}

.open .settings-box {
  opacity: 1;
}

.settings-box {
  opacity: 0;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  padding: var(--s2) 0;
  max-height: 512px;
}

.settings-box div {
  width: 100%;
  text-align: left;
}

.main-container.open {
  align-items: baseline;
  border-radius: var(--radius500) 0 0 var(--radius500);
  z-index: 9999;
}

.align-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.subsampling-options {
  display: flex;
  padding-top: 5px;
  text-align: left;
}

.subsampling-options label {
  margin-right: var(--s1);
}

.settings-box label {
  display: flex;
  align-items: center;
}

.checkbox-text {
  display: inline;
  padding-left: var(--s0);
  position: relative;
}

.checkbox > p {
  color: var(--gray3);
  padding: 0.5rem 0.25rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
  color: var(--gray2);
}

/**/
/**/
/* TUTORIALSBOX */
/**/
/**/

.tutorial_container {
  padding: var(--responsivepadding);
  position: relative;
  background: var(--bg1);
}

.tutorial_container * {
  position: relative;
  z-index: 3;
}

.tutorial_title {
  color: #fff;
  font-weight: bold;
  font-size: var(--f2);
  position: relative;
  z-index: 999;
}
.tutorial_container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-image: url(../assets/images/bg.svg);
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  transform: scaley(-1) scalex(-1);
  z-index: 1;
}

.tutorial_container:after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: rgba(20, 6, 53, 0.8); /*gray4*/
  z-index: 2;
  opacity: 1;
  backdrop-filter: blur(10px);
}

.tutorials_box:nth-of-type(1) {
  filter: hue-rotate(0deg);
}
.tutorials_box:nth-of-type(2) {
  filter: hue-rotate(-6deg) saturate(0.98);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}
.tutorials_box:nth-of-type(3) {
  filter: hue-rotate(-12deg) saturate(0.96);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}
.tutorials_box:nth-of-type(4) {
  filter: hue-rotate(-18deg) saturate(0.94);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}
.tutorials_box:nth-of-type(5) {
  filter: hue-rotate(-6deg) saturate(0.98);
}
.tutorials_box:nth-of-type(6) {
  filter: hue-rotate(-12deg) saturate(0.96);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}
.tutorials_box:nth-of-type(7) {
  filter: hue-rotate(-28deg) saturate(0.94);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}
.tutorials_box:nth-of-type(8) {
  filter: hue-rotate(-34deg) saturate(0.92);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}
.tutorials_box:nth-of-type(9) {
  filter: hue-rotate(-12deg) saturate(0.96);
}
.tutorials_box:nth-of-type(10) {
  filter: hue-rotate(-18deg) saturate(0.94);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}
.tutorials_box:nth-of-type(11) {
  filter: hue-rotate(-24deg) saturate(0.92);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}
.tutorials_box:nth-of-type(12) {
  filter: hue-rotate(-30deg) saturate(0.8);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}

.tutorials_container {
  display: grid;
  grid-template-columns: var(--grid12234);
  grid-gap: var(--gridgap);
}

.tutorials_box {
  width: 100%;
  border-radius: var(--radius500);
  position: relative;
  padding: calc(100% - var(--s1)) var(--s1) var(--s1) var(--s1);
  background: radial-gradient(
    at left center,
    var(--color500) 50%,
    var(--color700)
  );
  cursor: pointer;
  box-shadow: var(--shadow3d);
}

.tutorial_overflow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: var(--s1);
  overflow: hidden;
  border-radius: var(--radius500);
}

.tutorial_overflow:before {
  content: "l";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  fill: floralwhite;
  opacity: 0.1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scale(1.5);
}

#css .tutorial_overflow:before {
  background-image: url("../assets/images/logos/css.svg");
}
#html .tutorial_overflow:before {
  background-image: url("../assets/images/logos/html.svg");
}
#js .tutorial_overflow:before {
  background-image: url("../assets/images/logos/js.svg");
}
#windows .tutorial_overflow:before {
  background-image: url("../assets/images/logos/windows.svg");
}
#react .tutorial_overflow:before {
  background-image: url("../assets/images/logos/react.svg");
}
#angular .tutorial_overflow:before {
  background-image: url("../assets/images/logos/angular.svg");
}
#vue .tutorial_overflow:before {
  background-image: url("../assets/images/logos/vue.svg");
}
#firefox .tutorial_overflow:before {
  background-image: url("../assets/images/logos/firefox.svg");
}
#gimp .tutorial_overflow:before {
  background-image: url("../assets/images/logos/gimp.svg");
}
#svelte .tutorial_overflow:before {
  background-image: url("../assets/images/logos/svelte.svg");
}
#netlify .tutorial_overflow:before {
  background-image: url("../assets/images/logos/netlify.svg");
}
#wordpress .tutorial_overflow:before {
  background-image: url("../assets/images/logos/wordpress.svg");
}

.tutorial_shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--color500);
  z-index: -1;
  filter: blur(5px);
  border-radius: var(--radius500);
  transform: scale(0);
}

.tutorials_box:hover .tutorial_shadow {
  transform: scale(1);
}

/**/
/**/
/* AVIFBADGE */
/**/
/**/

#avifbadge {
  padding: var(--responsivepadding);
  position: relative;
  background: var(--gray4);
  z-index: 2;
}

.badge__avif {
  background: radial-gradient(
      circle at center left,
      var(--color100),
      transparent 50%
    ),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color100), transparent 25%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color300), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color100), transparent 75%),
    var(--bg1);
  border-radius: var(--radius500);
  padding: var(--s5);
  position: relative;
  box-shadow: var(--shadow3d);
  margin: var(--s4)
}

.badge__shadow {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: radial-gradient(
      circle at center left,
      var(--color100),
      transparent 50%
    ),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at center right, var(--color900), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color300), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color100), transparent 75%),
    var(--bg1);
  z-index: -1;
  filter: blur(50px);
}

.badge__avif p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(var(--f3) * 2);
  font-weight: bold;
}

/**/
/**/
/* AVIF ADVANTAGES */
/**/
/**/

#avifadvantages {
  background:var(--gray4)
}

.advantage__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:var(--s2);
  padding:var(--s3)
}

.advantage__grid__item {
  padding: var(--s2);
  background: hsl(0 0% 8% / 1);
    color: #ffffff0d;
  font-weight: bold;
  min-height: 50vh;
  margin: var(--s1);
  border-radius: var(--radius500);
  font-size: var(--f2);
  cursor: default;
}

.advantage__important {
  color:var(--color500);
  font-weight: bold;
}

.advantage__grid__item:hover {
  background: #242424;
  color: white;
}


/**/
/**/
/* IMAGECOMPARE */
/**/
/**/

#avifcompare  {
  padding:var(--responsivepadding);
  background: hsl(0 0% 8% / 1);
}


/**/
/**/
/* MEDIA QUERIES */
/**/
/**/

@media only screen and (max-width: 1399.98px) {
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 60%;
  }
  .tutorials_box {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 991.98px) {
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 80%;
  }
}

@media only screen and (max-width: 767.98px) {
  .cog-button,
  .settings_cog {
    display: none;
  }
  .app-container {
    background-size: cover;
  }
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 100%;
  }
}

@media only screen and (max-width: 575.98px) {
}

@supports (-moz-appearance: meterbar) {
  .tutorial_container:before {
    filter: blur(10px);
    transform: scaley(-1.01) scalex(-1.01);
    z-index: 0;
  }
}
