@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../assets/fonts/poppins-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../assets/fonts/poppins-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none !important;
  color: var(--blue800);
  cursor: pointer;
}

a:active {
  color: inherit !important;
}

h1,
h2,
h3,
div,
p {
  margin: 0;
  font-weight: 400;
}

:root {
  --f0: calc(var(--f1) / 1.5);
  --f1: calc(16px + 0.01vw);
  --f2: calc(var(--f1) * 2);
  --f3: calc(var(--f2) * 2);
  --s0: calc(8px + 0.01vw);
  --s1: calc(var(--s0) * 2);
  --s2: calc(var(--s1) * 2);
  --s3: calc(var(--s2) * 2);
  --s4: calc(var(--s3) * 2);
  --white: #fff;
  --light: #f5f5f5;
  --gray: #adadad;
  --blue100: #dff0f4;
  --blue200: #bae2ef;
  --blue300: #8fd1ef;
  --blue400: #5fbdf4;
  --blue500: #29a2ff;
  --blue600: #3677b7;
  --blue700: #395079;
  --blue800: #313646;
  --blue900: #1e1e1e;
}

body {
  font-family: "Poppins";
  font-weight: 400;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--f1);
  line-height: 1.6;
  -webkit-font-smoothing: subpixel-antialiased;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue300);
  border-radius: 2px;
  border: 0px;
}

::selection {
  color: var(--blue900);
  background: var(--blue300);
}

h1,
h2 {
  text-align: center;
  z-index: 999;
}

.blue {
  color: var(--blue500);
}

.lightblue {
  color: var(--blue300);
}

.red {
  color: var(--red);
}

.lightred {
  color: var(--lightred);
}

.white {
  color: var(--white);
}

.light {
  color: var(--light);
}

.gray {
  color: var(--gray);
}

.primary {
  color: var(--blue900);
}

.secondary {
  color: var(--blue800);
}

.f1 {
  font-size: var(--f1);
}

.f2 {
  font-size: var(--f2);
  line-height: 1.2;
}

.f3 {
  font-size: var(--f3);
  line-height: 1.2;
}

.s0 {
  margin-bottom: var(--s0);
}

.s1 {
  margin-bottom: var(--s1);
}

.s2 {
  margin-bottom: var(--s2);
}

.s3 {
  margin-bottom: var(--s3);
}

.s4 {
  margin-bottom: var(--s4);
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.title {
  z-index: 999;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 999px;
  background: var(--white);
  outline: none;
  padding: 0;
  margin: 0;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--blue500);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: var(--blue500);
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  --active: var(--blue500);
  --active-inner: #fff;
  --border: var(--blue300);
  --border-hover: var(--blue500);
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--white);
  -webkit-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
input[type="checkbox"]:after,
input[type="radio"]:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transition: opacity var(--d-o, 0.2s),
    -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: opacity var(--d-o, 0.2s),
    -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
    opacity var(--d-o, 0.2s);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
    opacity var(--d-o, 0.2s),
    -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: 0.9;
}
input[type="checkbox"]:disabled:checked,
input[type="radio"]:disabled:checked {
  --b: var(--disabled-inner);
  --bc: var(--border);
}
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  cursor: not-allowed;
}
input[type="checkbox"]:hover:not(:checked):not(:disabled),
input[type="radio"]:hover:not(:checked):not(:disabled) {
  --bc: var(--border-hover);
}
input[type="checkbox"]:not(.switch),
input[type="radio"]:not(.switch) {
  width: 21px;
}
input[type="checkbox"]:not(.switch):after,
input[type="radio"]:not(.switch):after {
  opacity: var(--o, 0);
}
input[type="checkbox"]:not(.switch):checked,
input[type="radio"]:not(.switch):checked {
  --o: 1;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 4px;
}

input[type="checkbox"]:not(.switch) {
  border-radius: 7px;
}
input[type="checkbox"]:not(.switch):after {
  width: 3px;
  height: 9px;
  border: 2px solid var(--blue500);
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 3px;
  -webkit-transform: rotate(var(--r, 20deg));
  transform: rotate(var(--r, 20deg));
}
input[type="checkbox"]:not(.switch):checked {
  --r: 43deg;
}
input[type="checkbox"].switch {
  width: 38px;
  border-radius: 11px;
}
input[type="checkbox"].switch:after {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--ab, var(--border));
  -webkit-transform: translateX(var(--x, 0));
  transform: translateX(var(--x, 0));
}
input[type="checkbox"].switch:checked {
  --ab: var(--active-inner);
  --x: 17px;
}
input[type="checkbox"].switch:disabled:not(:checked):after {
  opacity: 0.6;
}

input[type="radio"] {
  border-radius: 50%;
}
input[type="radio"]:after {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: var(--active-inner);
  opacity: 0;
  -webkit-transform: scale(var(--s, 0.7));
  transform: scale(var(--s, 0.7));
}
input[type="radio"]:checked {
  --s: 0.5;
}

@media only screen and (max-width: 768px) {
  :root {
    --f1: 16px;
    --f2: 24px;
    --f3: 36px;
    --s0: 4px;
    --s1: 6px;
    --s2: 12px;
    --s3: 24px;
    --s4: 48px;
  }

  h2 {
    text-align: center;
    position: relative;
  }
}

@media (prefers-reduced-motion) {
  * {
    animation: none;
  }
}

/* Converter */

@keyframes AnimationName {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--s3) var(--s3) var(--s4);
  min-height: 100vh;
}

.app-container:before {
  content: "";
  background: radial-gradient(
    circle farthest-side,
    #29a2ff 50%,
    #00c1ff 75%,
    #00d9e9 10%
  );
  position: absolute;
  width: 50vw;
  top: 0;
  left: 0;
  bottom: 0;
  animation: backgroundBlur;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-direction: alternate;
  z-index: 0;
  transform-origin: 0%;
}

@supports (-moz-appearance: none) {
  .app-container:before {
    background: linear-gradient(#29a2ff 80%, #00c1ff 100%);
    animation: none;
    filter: none;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes backgroundBlur {
  0% {
    filter: blur(147px) hue-rotate(2deg);
    transform: skew(0deg, 0deg) rotate(-5deg) scale(2.5) translatex(-200px);
  }
  10% {
    filter: blur(174px) hue-rotate(4deg);
    transform: skew(5deg, 0deg) rotate(-5deg) scale(2.3) translatex(-200px);
  }
  20% {
    filter: blur(190px) hue-rotate(1deg);
    transform: skew(3deg, 0deg) rotate(5deg) scale(2.88) translatex(-200px);
  }
  30% {
    filter: blur(132px) hue-rotate(-2deg);
    transform: skew(0deg, 6deg) rotate(-3deg) scale(2.25) translatex(-200px);
  }
  40% {
    filter: blur(110px) hue-rotate(4deg);
    transform: skew(2deg, 0deg) rotate(4deg) scale(2.42) translatex(-200px);
  }
  50% {
    filter: blur(90px) hue-rotate(-3deg);
    transform: skew(0deg, 9deg) rotate(2deg) scale(2.95) translatex(-200px);
  }
  60% {
    filter: blur(160px) hue-rotate(0deg);
    transform: skew(4deg, 0deg) rotate(6deg) scale(2.01) translatex(-200px);
  }
  70% {
    filter: blur(120px) hue-rotate(1deg);
    transform: skew(0deg, 5deg) rotate(-3deg) scale(2.3) translatex(-200px);
  }
  80% {
    filter: blur(150px) hue-rotate(4deg);
    transform: skew(2deg, 0deg) rotate(6deg) scale(2.65) translatex(-200px);
  }
  90% {
    filter: blur(140px) hue-rotate(0deg);
    transform: skew(0deg, 1deg) rotate(0deg) scale(2.56) translatex(-200px);
  }
  100% {
    filter: blur(110px) hue-rotate(-2deg);
    transform: skew(4deg, 0deg) rotate(-2deg) scale(3) translatex(-200px);
  }
}

#howto:after {
  content: "";
  top: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  transform: skewY(-5deg) scale(1.3) scaley(0.3) translatey(-150%);
  background: #fff;
  z-index: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 36px;
  width: 75%;
  max-width: 1024px;
  box-shadow: 0 2.8px 2.2px rgba(43, 51, 60, 0.003),
    0 6.7px 5.3px rgba(43, 51, 60, 0.004), 0 12.5px 10px rgba(43, 51, 60, 0.005),
    0 22.3px 17.9px rgba(43, 51, 60, 0.006),
    0 41.8px 33.4px rgba(0, 0, 0, 0.007), 0 100px 80px rgba(43, 51, 60, 0.01);
  text-align: center;
  flex-direction: column;
  background: rgb(255 255 255 / 0.4);
  transition: all 0.45s ease-in-out;
  backdrop-filter: blur(100px);
  z-index: 99999;
}

.dropzone-container {
  height: 100%;
  width: 100%;
  display: flex;
  order: 0;
  background: white;
  z-index: 99;
  border-radius: 24px;
}

.donation {
  color: var(--blue900);
}

.dropzone-container.active {
  transform: scale(0.95);
}

.dropzone-container:hover {
  transform: scale(0.98);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main-container {
  animation: bounce-in 1s forwards 1;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce-in {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.04, 0.92);
  }
  30% {
    transform: scale(0.92, 1.04);
  }
  50% {
    transform: scale(1.02, 0.96);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1.01, 0.99);
  }
  100% {
    transform: scale(1, 1);
  }
}

.dropzone-container,
.dropzone-container * {
  transition: all 0.2s ease-in-out;
}

.dropzone-root {
  background-color: var(--white);
  border-radius: 24px;
  padding: var(--s4) var(--s2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.active .dropzone-root {
  border: dashed 4px var(--blue500);
  background: #eff5fa;
  background: linear-gradient(318deg, #eff5fa, #fff, #f3f3f3, #fff);
  background-size: 800% 800%;
  animation: AnimationName 6s ease infinite;
}

.main-container .downloadall-container + .dropzone-container .dropzone-root,
.main-container a + .dropzone-container .dropzone-root {
  padding: var(--s2);
}

.main-container
  .downloadall-container
  + .dropzone-container
  .dropzone-root
  .picture,
.main-container a + .dropzone-container .dropzone-root .picture {
  animation: imageshrink 0.3s;
  animation-fill-mode: forwards;
}

@keyframes imageshrink {
  0% {
    transform: scale(1);
    height: 130px;
    opacity: 1;
  }
  33% {
    transform: scale(0.5);
    height: 130px;
    opacity: 1;
  }
  66% {
    transform: scale(0.05);
    height: 130px;
    opacity: 0;
  }
  100% {
    transform: scale(0);
    height: 0;
    opacity: 0;
    margin-bottom: 0;
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.97, 0.97, 0.97);
  }
  20% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  40% {
    transform: scale3d(0.98, 0.98, 0.98);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    transform: scale3d(0.99, 0.99, 0.99);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.picture {
  position: relative;
}

.picture svg {
  position: relative;
  z-index: 99;
}

.active .picture svg {
  transform: rotate(3deg);
}

.picture:after {
  content: "";
  background-image: url("../assets/images/picture.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  transform: rotate(0deg);
  transform-origin: 100% 90%;
  right: 0;
  opacity: 0.5;
  transition: all 0.2s ease-out;
}

.active .picture:after {
  transform: rotate(20deg);
  transform-origin: 100% 90%;
  transition: all 0.2s ease-in;
}

.conversion {
  display: flex;
  justify-content: space-between;
  padding: var(--s1);
  border-radius: 10px;
  margin-top: var(--s1);
  align-self: normal;
  align-items: center;
  position: relative;
  background: var(--white);
  color: var(--blue800);
  animation: flip-in-hor-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 1;
  pointer-events: none;
}

.conversion:first-of-type {
  margin-top: var(--s2);
}

.conversion.finished,
.conversion.in-progress {
  transform-origin: center center;
}

.bar-container {
  position: absolute;
  border-radius: 2px 0 0 2px;
  margin: 0;
  z-index: 0;
  bottom: var(--s0);
  height: calc(var(--s0) / 2);
  background: var(--light);
  width: calc(100% - var(--s1));
}

.bar-inner {
  height: 100%;
  transition: all 0.3s ease-out;
  background-color: var(--blue500);
  border-radius: 12px;
}

.progress .bar-inner {
  border-radius: 12px 0 0 12px;
}

/*Finished*/
.finished-conversion {
  display: flex;
}

.conversion.finished {
  background: var(--white);
  color: var(--blue800);
  animation-duration: 0.75s;
  animation-name: bounceIn;
  pointer-events: all;
}

.meta {
  color: var(--blue700);
  margin-right: var(--s3);
  border-radius: 6px;
  padding: var(--s0);
  z-index: 999;
}

.filename {
  position: relative;
  z-index: 99;
  text-align: left;
  max-width: 360px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.download {
  width: var(--s3);
  transition: all 0.3s ease;
  transform: scale(0);
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 0 8px 8px 0;
  background: radial-gradient(
    circle at bottom right,
    #29a2ff 50%,
    #00c1ff 100%
  );
}

.download:after {
  content: "";
  color: rgba(255, 255, 255, 0.5);
  background-image: url("../assets/images/download.svg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 8px 8px 0;
  z-index: 99999;
}

.finished .download {
  transform: scale(1);
}

.finished .download:before {
  content: "";
  position: absolute;
  animation: pulse 2s 1;
  animation-delay: 2s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 0 8px 8px 0;
  width: var(--s3);
}

.download:hover {
  transform: scale(0.9);
}

.downloadall {
  background-color: var(--blue500);
  outline: none;
  box-shadow: none;
  color: var(--white);
  border: none;
  padding: var(--s1) var(--s2);
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin-bottom: var(--s2);
}

.downloadall-container {
  opacity: 0;
  height: 0;
}

.downloadall-container.show {
  margin-top: var(--s3);
  height: auto;
  opacity: 1;
}

.finished .bar-container {
  display: none;
}

.finished .originalformat {
  display: none;
}

.progress .conversionformat {
  display: none;
}

/* Site */

.header {
  position: absolute;
  left: 24px;
  text-align: right;
  top: 24px;
}

.header-two {
  position: absolute;
  right: 12px;
  text-align: right;
  top: 12px;
  color: var(--gray);
  max-width: 200px;
  font-size: var(--f0);
}

.header a {
  margin-bottom: var(--s0);
  display: block;
  color: var(--blue800);
}

.header .blue {
  color: var(--blue500);
}

.section {
  padding: 12vw 12vw;
  position: relative;
  background: white;
}

.section:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.015);
}

/* HELP */

.infobox {
  position: relative;
}

.infobox:before {
  content: "?";
  position: absolute;
  background: var(--white);
  right: calc(var(--s1) * (-1) - 5px);
  border-radius: 4px;
  width: var(--s1);
  height: var(--s1);
  font-size: var(--f0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--blue700) !important;
}

.infobox:hover:before {
  width: auto;
  text-align: left;
  height: auto;
  padding: var(--s0);
  border-radius: 4px;
  max-width: var(--s4);
  word-break: break-all;
}

h2.infobox:hover:before {
  content: "using WASM & Rav1e";
}

#explainformats:hover:before {
  content: "png, jpg, jpeg, webp, gif, bmp, dib, ico, tiff, tif, pbm, pgm, ppm, pnm, dds, tga, icb, vda, vst, ff";
}

/* SHARE */

.share-container {
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  top: var(--s1);
  right: var(--s1);
  z-index: 1;
}

.share-container a {
  display: inline-flex;
  width: 32px;
  height: 32px;
  margin-right: var(--s0);
}

#facebook {
  background-image: url("../assets/images/facebook.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#reddit {
  background-image: url("../assets/images/reddit.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#twitter {
  background-image: url("../assets/images/twitter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Code */

#howto .right-half {
  display: flex;
  min-height: 400px;
  max-width: 600px;
  padding: var(--s2);
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 2.8px 2.2px rgba(43, 51, 60, 0.003),
    0 6.7px 5.3px rgba(43, 51, 60, 0.004), 0 12.5px 10px rgba(43, 51, 60, 0.005),
    0 22.3px 17.9px rgba(43, 51, 60, 0.006),
    0 41.8px 33.4px rgba(0, 0, 0, 0.007), 0 100px 80px rgba(43, 51, 60, 0.01);
}

#howto .left-half .f2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 0;
}

#howto .left-half {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.css #css,
.html #html,
.wordpress #wordpress,
.netlify #netlify,
.shopify #shopify {
  color: var(--blue900);
}

.css #css:before,
.html #html:before,
.wordpress #wordpress:before,
.netlify #netlify:before,
.shopify #shopify:before {
  content: "";
  height: 20px;
  display: block;
  width: 100%;
  position: absolute;
  background: var(--blue300);
  border-radius: 4px;
  bottom: 0px;
  z-index: -1;
}

.css #css-tutorial {
  display: block;
}

.html #html-tutorial {
  display: block;
}

.wordpress #wordpress-tutorial {
  display: block;
}

.netlify #netlify-tutorial {
  display: block;
}

.shopify #shopify-tutorial {
  display: block;
}

#howto .flex-center {
  align-items: inherit;
}

.braces {
  margin: 0 var(--s0);
}

.container-code {
  display: none;
}

.opacity-half {
  opacity: 0.5;
}

.badge {
  background: var(--blue800);
  color: var(--white);
  border-radius: 6px;
  padding: var(--s0);
  display: inline-block;
}

/* Comparison */

#whatisavif .left-half {
  flex: 1;
  margin-right: var(--s3);
}

#whatisavif .right-half {
  flex: 2;
  position: relative;
  align-self: stretch;
  justify-self: stretch;
}

#comparison-img div[data-testid="container"] {
  border-radius: 32px;
}

.handle {
  width: var(--s1);
  height: var(--s3);
  background: var(--blue500);
  border-radius: 9999px;
}

.comparison-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blue800);
  margin-top: var(--s0);
}

/* TECH COMPANIES */

#tech-companies {
  background-image: url("../assets/images/aom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#gainanadvantage .right-half {
  flex: 2;
  align-self: stretch;
}

#gainanadvantage .left-half {
  flex: 1;
  position: relative;
  align-self: baseline;
  margin-right: var(--s3);
}

/* ADVANTAGE */

#supportedbyplayers .right-half {
  flex: 2;
  align-self: stretch;
}

#supportedbyplayers .left-half {
  flex: 1;
  position: relative;
  align-self: baseline;
  margin-right: var(--s3);
}

/* SLIDE */

#speed {
  padding-top: 0;
}

.slide {
  padding: var(--s1);
  text-align: center;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 2.8px 2.2px rgba(43, 51, 60, 0.003),
    0 6.7px 5.3px rgba(43, 51, 60, 0.004), 0 12.5px 10px rgba(43, 51, 60, 0.005),
    0 22.3px 17.9px rgba(43, 51, 60, 0.006),
    0 41.8px 33.4px rgba(0, 0, 0, 0.007), 0 100px 80px rgba(43, 51, 60, 0.01);
}

.carousel {
  padding: var(--s1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--s1);
}

.chevron {
  background-image: url("../assets/images/chevron.svg");
  width: 24px;
  height: 24px;
  margin-top: var(--s2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* SETTINGS */

.dropzone-and-settings {
  display: flex;
}

.cog-and-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
}

.cog-button {
  position: absolute;
  top: 0px;
  width: 24px;
  right: -45px;
  height: 24px;
  display: block;
  background-image: url("../assets/images/settings.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cog-button.open {
  transform: rotate(180deg);
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.settings_cog {
  position: absolute;
  left: inherit;
  padding: var(--s2);
  background: none;
  height: 100%;
  max-height: 400px;
  min-width: 250px;
  right: 0%;
  transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 0 36px 36px 0;
  z-index: -1;
  top: 0;
}

.settings_cog.open {
  transform: translatex(100%);

  animation: 0.45s ease-in-out normal both settingsbox;
}

@keyframes settingsbox {
  0% {
    background: rgb(255 255 255 / 0);
  }
  95% {
    background: rgb(255 255 255 / 0);
    backdrop-filter: blur(0px);
  }
  100% {
    background: rgb(255 255 255 / 0.4);
    backdrop-filter: blur(100px);
  }
}

.open .settings-box {
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

.settings-box {
  opacity: 0;
  transition: all 0.9s ease-in-out;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  padding: var(--s2) 0;
  max-height: 512px;
}

.settings-box div {
  width: 100%;
  text-align: left;
}

.main-container.open {
  align-items: baseline;
  width: calc(75% - 250px);
  border-radius: 36px 0 0 36px;
  z-index: 9999;
}

.align-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.subsampling-options {
  display: flex;
  padding-top: 5px;
  text-align: left;
}

.subsampling-options label {
  margin-right: var(--s1);
}

.settings-box label {
  display: flex;
  align-items: center;
}

.checkbox-text {
  display: inline;
  padding-left: var(--s0);
  position: relative;
}

.disabled {
  color: gray;
}

.checkbox > p {
  color: #34495e;
  padding: 0.5rem 0.25rem;
}

.remaining-time {
  opacity: 0;
  z-index: 999;
}

.progress .remaining-time {
  animation: 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 10s 1 normal both running
    tracking-in-expand;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**/

@media only screen and (max-width: 768px) {
  .section {
    padding: 6vw;
    padding-top: var(--s4);
  }

  .flex-center {
    display: block;
  }

  .carousel {
    grid-template-columns: 1fr;
    grid-gap: var(--s3);
    padding: inherit;
  }

  .slide {
    padding: var(--s2);
  }

  .center {
    text-align: left;
  }

  .explanation-image {
    flex: 7;
    min-height: 30vh;
    position: relative;
    margin: var(--s1) 0 var(--s4);
  }

  .f1.secondary.s4.center {
    display: none;
  }

  .settings_cog {
    overflow: hidden;
  }

  .cog-button {
    right: -90px;
  }

  .f3.blue.bold.f2.s2.center {
    margin: 0;
  }

  .left-half .secondary {
    margin-bottom: var(--s3);
  }

  .main-container {
    width: 100%;
    border-radius: 0;
  }

  .app-container {
    padding: var(--s4) 0 var(--s4);
    min-height: 100vh;
  }

  .download {
    width: var(--s4);
  }

  .meta {
    font-size: var(--f0);
    margin-right: var(--s4);
  }
  .filename {
    max-width: 120px;
  }

  .downloadall {
    padding: var(--s3) var(--s4);
  }
  .share-container {
    top: var(--s1);
    bottom: inherit;
  }
  .infobox:before {
    display: none;
  }

  .app-container {
    background: var(--blue500);
  }

  .app-container:before {
    content: none;
  }

  #howto:after {
    content: none;
  }
}
