.section__tutorials {
  padding: var(--responsivepadding);
  position: relative;
  background: var(--bg1);
}

.section__tutorials * {
  position: relative;
  z-index: 3;
}

.section__tutorials:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-image: url(../assets/images/bg.svg);
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  transform: scaley(-1) scalex(-1);
  z-index: 1;
}

.section__tutorials:after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: rgba(20, 6, 53, 0.8); /*gray4*/
  z-index: 2;
  opacity: 1;
  backdrop-filter: blur(10px);
}

.tutorial__title {
  color: #fff;
  font-weight: bold;
  font-size: var(--f2);
  position: relative;
  z-index: 999;
}

.tutorials__container {
  display: grid;
  grid-template-columns: var(--grid12234);
  grid-gap: var(--gridgap);
}

.tutorials__box {
  width: 100%;
  border-radius: var(--radius500);
  position: relative;
  padding: calc(100% - var(--s1)) var(--s1) var(--s1) var(--s1);
  background: radial-gradient(
    at left center,
    var(--color500) 50%,
    var(--color700)
  );
  cursor: pointer;
  box-shadow: var(--shadow3d);
  transition: all 0.2s ease-in-out;
}

.tutorials__box:hover {
  transform: scale(1.03) rotate(3deg);
}

.tutorials__box:nth-of-type(1) {
  filter: hue-rotate(0deg);
}
.tutorials__box:nth-of-type(2) {
  filter: hue-rotate(-6deg) saturate(0.98);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}
.tutorials__box:nth-of-type(3) {
  filter: hue-rotate(-12deg) saturate(0.96);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}
.tutorials__box:nth-of-type(4) {
  filter: hue-rotate(-18deg) saturate(0.94);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}
.tutorials__box:nth-of-type(5) {
  filter: hue-rotate(-6deg) saturate(0.98);
}
.tutorials__box:nth-of-type(6) {
  filter: hue-rotate(-12deg) saturate(0.96);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}
.tutorials__box:nth-of-type(7) {
  filter: hue-rotate(-28deg) saturate(0.94);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}
.tutorials__box:nth-of-type(8) {
  filter: hue-rotate(-34deg) saturate(0.92);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}
.tutorials__box:nth-of-type(9) {
  filter: hue-rotate(-12deg) saturate(0.96);
}
.tutorials__box:nth-of-type(10) {
  filter: hue-rotate(-18deg) saturate(0.94);
  margin-top: calc(var(--s3) * -1);
  margin-bottom: calc(var(--s3) * 1);
}
.tutorials__box:nth-of-type(11) {
  filter: hue-rotate(-24deg) saturate(0.92);
  margin-top: calc(var(--s3) * -2);
  margin-bottom: calc(var(--s3) * 2);
}
.tutorials__box:nth-of-type(12) {
  filter: hue-rotate(-30deg) saturate(0.8);
  margin-top: calc(var(--s3) * -3);
  margin-bottom: calc(var(--s3) * 3);
}

.tutorial__overflow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: var(--s1);
  overflow: hidden;
  border-radius: var(--radius500);
}

.tutorial__overflow:before {
  content: "l";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  fill: floralwhite;
  opacity: 0.1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scale(1.5);
}

#css .tutorial__overflow:before {
  background-image: url("../assets/images/logos/css.svg");
}
#html .tutorial__overflow:before {
  background-image: url("../assets/images/logos/html.svg");
}
#js .tutorial__overflow:before {
  background-image: url("../assets/images/logos/js.svg");
}
#windows .tutorial__overflow:before {
  background-image: url("../assets/images/logos/windows.svg");
}
#react .tutorial__overflow:before {
  background-image: url("../assets/images/logos/react.svg");
}
#angular .tutorial__overflow:before {
  background-image: url("../assets/images/logos/angular.svg");
}
#vue .tutorial__overflow:before {
  background-image: url("../assets/images/logos/vue.svg");
}
#firefox .tutorial__overflow:before {
  background-image: url("../assets/images/logos/firefox.svg");
}
#gimp .tutorial__overflow:before {
  background-image: url("../assets/images/logos/gimp.svg");
}
#svelte .tutorial__overflow:before {
  background-image: url("../assets/images/logos/svelte.svg");
}
#netlify .tutorial__overflow:before {
  background-image: url("../assets/images/logos/netlify.svg");
}
#wordpress .tutorial__overflow:before {
  background-image: url("../assets/images/logos/wordpress.svg");
}

.tutorials__box:hover .tutorial_shadow {
  transform: scale(1);
}

.tutorial__shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--color500);
  z-index: -1;
  filter: blur(5px);
  border-radius: var(--radius500);
  transform: scale(0);
}

/**/
/**/
/* AVIFBADGE */
/**/
/**/

#avifbadge {
  padding: var(--responsivepadding);
  padding-bottom: 0;
  position: relative;
  background: var(--bg7);
  z-index: 2;
}

.badge__avif {
  background: radial-gradient(
      circle at center left,
      var(--color300),
      transparent 50%
    ),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%),
    var(--bg1);
  border-radius: var(--radius500);
  padding: var(--s5);
  position: relative;
  box-shadow: var(--shadow3d);
  margin: var(--s4);
  margin-bottom: 0;
}

.badge__shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: radial-gradient(
      circle at center left,
      var(--color300),
      transparent 50%
    ),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%),
    var(--bg1);
  z-index: -1;
  filter: blur(50px);
  border-radius: var(--radius900);
  animation: glow 10s infinite both;
}

.badge__avif p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(var(--f3) * 2);
  font-weight: bold;
}

/**/
/**/
/* AVIF ADVANTAGES */
/**/
/**/

#avifadvantages {
  background: var(--bg7);
  padding: var(--responsivepadding);
}

.advantage__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--s1);
}

.advantage__grid__item {
  padding: var(--s2);
  background-color: var(--bg8);
  color: #ffffff0d;
  font-weight: bold;
  min-height: calc(var(--s5) * 2);
  margin: var(--s1);
  border-radius: var(--radius500);
  font-size: var(--f1);
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.advantage__grid__item:hover {
  background: #242424;
  color: white;
  transform: scale(1.05);
}

.advantage__important {
  color: var(--color500);
  font-weight: bold;
}

.visualizer {
  border-radius: var(--radius500);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  opacity: 0.015;
  transition: all 0.25s ease-out;
  z-index: 0;
  transform-origin: center center;
}

#visualizer-1 {
  background-image: url("../assets/images/visualizer-1.svg");
}

#visualizer-2 {
  background-image: url("../assets/images/visualizer-2.svg");
}

#visualizer-3 {
  background-image: url("../assets/images/visualizer-3.svg");
  background-size: 160%;
}

#visualizer-4 {
  background-image: url("../assets/images/visualizer-4.svg");
}

#visualizer-5 {
  background-image: url("../assets/images/visualizer-5.svg");
}

#visualizer-6 {
  background-image: url("../assets/images/visualizer-6.svg");
}
#visualizer-7 {
  background-image: url("../assets/images/visualizer-7.svg");
}
#visualizer-8 {
  background-image: url("../assets/images/visualizer-8.svg");
}
#visualizer-9 {
  background-image: url("../assets/images/visualizer-9.svg");
}

.advantage__grid__item:hover .visualizer {
  filter: blur(10px);
  opacity: 0.05;
  transform: scale(1.1);
}

/**/
/**/
/* IMAGECOMPARE */
/**/
/**/

#avifcompare {
  background: var(--bg8);
  padding: var(--s5);
  position: relative;
}

#avifcompare::after {
  content: "Cant see this image? Your browser doesn't support avif yet. :(";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-self: center;
  color: var(--white);
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#avifcompare * {
  border-radius: var(--radius500);
}

#avifcompare #fileformats div {
  border-radius: var(--radius500);
}

#comparison__container {
  position: relative;
  z-index: 1;
}

#handle {
  background: var(--color500);
  padding: var(--s2) var(--s0);
  border-radius: var(--radius100);
}

#jpg {
  position: absolute;
  top: 0;
  padding: var(--s2);
  background: var(--white);
  padding: var(--s0);
  margin: var(--s1);
  border-radius: var(--radius100);
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}

#avif {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--s2);
  background: var(--white);
  padding: var(--s0);
  margin: var(--s1);
  border-radius: var(--radius100);
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}

#fileformats p.active {
  opacity: 1;
}

.advantages-explainer {
  margin: var(--s3) auto;
  text-align: center;
  color: var(--white);
  max-width: 768px;
  line-height: 2;
}

/**/
/**/
/* CTA */
/**/
/**/

.cta__container {
  padding: calc(var(--s5) * 1) calc(var(--s5) * 2);
  background: var(--bg7);
}

.cta {
  background: radial-gradient(
      circle at center left,
      var(--color300),
      transparent 50%
    ),
    radial-gradient(circle at 0% 0%, var(--color500), transparent 25%),
    radial-gradient(circle at 20% 60%, var(--color300), transparent 50%),
    radial-gradient(circle at center right, var(--color500), transparent 50%),
    radial-gradient(circle at 60% 60%, var(--color700), transparent 25%),
    radial-gradient(circle at bottom center, var(--color500), transparent 75%),
    radial-gradient(circle at 80% 40%, var(--color700), transparent 75%),
    var(--bg1);
  padding: var(--s4);
  border-radius: var(--radius500);
  position: relative;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("../assets/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
}

.cta__title {
  font-size: var(--f2);
  color: var(--white);
  font-weight: bold;
}

.cta__subtitle {
  opacity: 0.5;
  color: var(--white);
}

.cta a {
  color: var(--white);
}

/**/
/**/
/* Can I use? */
/**/
/**/

#more {
  background: var(--gray1);
  padding: var(--responsivepadding);
}

.more__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.more__item {
  padding: var(--s1);
  font-weight: bold;
  color: var(--white);
  background: var(--bg8);
}

.more__item:hover {
  background: var(--bg9);
}

.more__item .f2 {
  font-weight: bold;
}

.more__badges {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  padding: var(--s0);
  background: var(--white);
  color: var(--bg1);
  display: inline-flex;
  margin: 0 var(--s0) var(--s0) 0;
  border-radius: var(--radius100);
}

/**/
/**/
/* Footer */
/**/
/**/

.footer {
  background: var(--bg6);
  padding: var(--s3) var(--s4);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: flex-end;
}

.footer * {
  color: var(--white);
}

.footer a {
  display: block;
  margin-bottom: var(--s0);
}

/**/
/**/
/* BLOGS */
/**/
/**/

.blog {
  background-color: var(--bg1);
  background-image: url("../assets/images/bg-orange.svg");
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
}

.blog * {
  position: relative;
  z-index: 3;
}

.blog-blur {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-blog5);
  z-index: 2;
  opacity: 1;
  backdrop-filter: blur(5px);
}

.blog h1 {
  margin: 0 var(--s5) 0;
  padding: calc(var(--s4) * 2) var(--s4) var(--s4) var(--s4);
  font-size: calc(var(--f3) * 2);
}

.content__container {
  margin: var(--s4);
  background: var(--white);
  padding: var(--s5);
  border-radius: var(--radius700);
}

.content {
  max-width: 768px;
  margin: 0 auto;
  line-height: 2;
  color: var(--gray3);
}

.blog .button-primary {
  background: var(--white);
  opacity: 1;
}

.blog .button-primary a {
  color: var(--bg1);
}

.blog .cta__container {
  background: none;
}

.tutorial__item {
  display: flex;
  align-items: flex-end;
  margin-top: var(--s2);
}

.tutorial__number {
  width: 25%;
  font-size: var(--f3);
  font-weight: bold;
  color: var(--bg-blog5);
  text-align: left;
  margin-right: var(--s1);
}

/**/
/**/
/* KEYFRAMES */
/**/
/**/

@keyframes bounce-in {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.04, 0.92);
  }
  30% {
    transform: scale(0.92, 1.04);
  }
  50% {
    transform: scale(1.02, 0.96);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1.01, 0.99);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.97, 0.97, 0.97);
  }
  20% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  40% {
    transform: scale3d(0.98, 0.98, 0.98);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    transform: scale3d(0.99, 0.99, 0.99);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes settingsbox {
  0% {
    background: rgb(255 255 255 / 0);
  }
  95% {
    background: rgb(255 255 255 / 0);
    backdrop-filter: blur(0px);
  }
  100% {
    background: rgb(255 255 255 / 0.4);
    backdrop-filter: blur(100px);
  }
}

/**/
/**/
/* MEDIA QUERIES */
/**/
/**/

@media only screen and (max-width: 1399.98px) {
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 60%;
  }
  .tutorials__box {
    margin: 0 !important;
  }
  .content__container {
    padding: var(--s3);
    border-radius: var(--radius300);
    margin: var(--s2);
  }
  .cta__container {
    padding: calc(var(--s5) * 1) calc(var(--s3) * 2);
  }
}

@media only screen and (max-width: 991.98px) {
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 80%;
  }
  .advantage__grid {
    grid-template-columns: 1fr 1fr;
    padding: var(--s2);
    grid-gap: var(--s1);
  }
  .badge__avif {
    margin: var(--s5) var(--s0);
  }
  .content__container {
    padding: var(--s2);
    border-radius: var(--radius300);
    margin: var(--s1);
  }
  .blog h1 {
    padding: var(--s4) var(--s1) var(--s1) var(--s1);
    font-size: var(--f3);
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  #footer-info {
    grid-column: 1/3;
    margin-bottom: var(--s3);
  }
  .footer > div {
    margin-bottom: var(--s3);
  }
  .cta__container {
    padding: calc(var(--s5) * 1) calc(var(--s2) * 2);
  }
  .advantage__grid__item {
    font-size: var(--f1);
    min-height: auto;
    border-radius: var(--radius100);
    padding: var(--s1);
  }
}

@media only screen and (max-width: 767.98px) {
  .cog-button,
  .settings_cog {
    display: none;
  }
  .app-container {
    background-size: cover;
  }
  .text-20,
  .text-40,
  .text-60,
  .text-80 {
    max-width: 100%;
  }
  .advantage__grid {
    grid-template-columns: 1fr;
    padding: var(--s1);
    grid-gap: var(--s0);
  }
  .advantage__grid__item {
    min-height: 0;
    margin: var(--s0);
  }
  .badge__shadow {
    display: none;
    transform: inherit !important;
  }
  .cta__container {
    padding: calc(var(--s5) * 1) calc(var(--s1) * 2);
  }
  .cta {
    padding: var(--s3);
  }
}

@media only screen and (max-width: 575.98px) {
  .cta__container {
    padding: calc(var(--s5) * 1) var(--s1);
  }
  .advantage__grid {
    padding: var(--s1);
    grid-gap: var(--s0);
  }
}

@supports (-moz-appearance: meterbar) {
  .section__tutorials::before {
    filter: blur(10px);
    transform: scaley(-1.01) scalex(-1.01);
    z-index: 0;
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: var(--color500);
    --active-inner: #fff;
    --border: var(--gray2);
    --border-hover: var(--color500);
    --background: #fff;
    --disabled: var(--gray2);
    --disabled-inner: var(--gray3);
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type="checkbox"]:after,
  input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type="checkbox"]:disabled:checked,
  input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type="checkbox"]:disabled + label,
  input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  input[type="checkbox"]:hover:not(:checked):not(:disabled),
  input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type="checkbox"]:not(.switch),
  input[type="radio"]:not(.switch) {
    width: 21px;
  }
  input[type="checkbox"]:not(.switch):after,
  input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type="checkbox"]:not(.switch):checked,
  input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  input[type="checkbox"]:not(.switch):after {
    width: 3px;
    height: 7px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
    transform: rotate(var(--r, 20deg));
  }
  input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
    transform: translateX(var(--x, 0));
  }
  input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type="radio"] {
    border-radius: 50%;
  }
  input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
    transform: scale(var(--s, 0.7));
  }
  input[type="radio"]:checked {
    --s: 0.5;
  }
}

::-moz-range-track {
  background: var(--gray2);
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: var(--s0);
  border-radius: var(--radius300);
  background: var(--gray1);
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color300);
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--color500);
}
input[type="range"]:active::-webkit-slider-thumb {
  background: var(--color500);
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: var(--gray3);
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
input[type="range"]::-moz-range-thumb:hover {
  background: var(--color500);
}
input[type="range"]:active::-moz-range-thumb {
  background: var(--color500);
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--color700);
}
